<a href="https://colab.research.google.com/github/Sru-j/daily_lab_activities/blob/main/2_Example_DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DATA LOADING VIA URL

In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/bkeerthana/MLC/refs/heads/main/DataCleaning/2_raw_dataset.csv"
df = pd.read_csv(url)

#DATA INSPECTION

In [3]:
df

,irst Name,Last name,Age,SALARY,STREET Address1,STREET Address2,STREET Address3,email
0,Joel,Padilla,10/28/2019,$92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com
1,Fritz,Tyler,09/27/2019,$83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net
2,Wing,Phelps,02/18/2019,$17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net
3,Ryan,Ross,05/21/2019,$45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com
4,Drake,Day,01/09/2020,$84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.Integer.vulputate@liberoat.ca
...,...,...,...,...,...,...,...,...
95,Victor,Hobbs,05/24/2019,$54.56,4034 Vitae St.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com
96,Neil,Bradford,02/07/2020,$74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.Nunc@euodioPhasellus.net
97,Noble,Conrad,10/29/2019,$43.99,"Ap #173-7049 Eget, St.",Ap #620-2512 Ut Street,8768 Aenean St.,tellus.Nunc.lectus@ornare.org
98,Brody,Whitaker,08/09/2018,$96.24,Ap #371-9803 Aliquam Rd.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk
99,Alden,Mccormick,07/27/2019,$2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas St.,ut.erat@aceleifend.com

In [4]:
df.shape

(100, 8)

In [5]:
df.columns

Index(['irst Name', 'Last name', 'Age', 'SALARY', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'],
      dtype='object')

In [6]:
df.dtypes

irst Name          object
Last name          object
Age                object
SALARY             object
STREET Address1    object
STREET Address2    object
STREET Address3    object
email              object
dtype: object

In [7]:
df.isnull().sum()

irst Name          0
Last name          0
Age                0
SALARY             0
STREET Address1    0
STREET Address2    0
STREET Address3    0
email              0
dtype: int64

In [8]:
df.describe()

,irst Name,Last name,Age,SALARY,STREET Address1,STREET Address2,STREET Address3,email
count,100,100,100,100,100,100,100,100
unique,91,97,91,100,100,100,100,100
top,Fritz,Pratt,09/27/2019,$92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com
freq,2,2,2,1,1,1,1,1

In [9]:
df.duplicated().sum()

np.int64(0)

#DATA CLEANING

SECTION A: COLUMN NAME CLEANING

In [12]:
# Identify column names containing leading/trailing spaces
df.columns

Index(['irst name', 'last name', 'age', 'salary', 'street address1',
       'street address2', 'street address3', 'email'],
      dtype='object')

In [13]:
#Detect inconsistent capitalization in column headers.
df.columns = df.columns.str.strip().str.lower()
df.columns

Index(['irst name', 'last name', 'age', 'salary', 'street address1',
       'street address2', 'street address3', 'email'],
      dtype='object')

In [14]:
#Convert all column names to snake_case format.
df.columns = df.columns.str.replace(' ','_')
df.columns

Index(['irst_name', 'last_name', 'age', 'salary', 'street_address1',
       'street_address2', 'street_address3', 'email'],
      dtype='object')

In [15]:
#Rename ‘irst Name’ to ‘First Name’.
df = df.rename(columns={'irst_name':'first_name'})
df.columns

Index(['first_name', 'last_name', 'age', 'salary', 'street_address1',
       'street_address2', 'street_address3', 'email'],
      dtype='object')

 SECTION B: DATA TYPE VALIDATION

In [16]:
#Print data types of all columns
df.dtypes

first_name         object
last_name          object
age                object
salary             object
street_address1    object
street_address2    object
street_address3    object
email              object
dtype: object

In [17]:
#removing $ in salary
df['salary'] = df['salary'].str.replace('$','')
df['salary']

0     92.32
1     83.91
2     17.15
3     45.97
4     84.38
      ...
95    54.56
96    74.52
97    43.99
98    96.24
99     2.66
Name: salary, Length: 100, dtype: object

In [19]:
#Identify columns incorrectly typed as object but should be numeric or datetime
df['salary']=df['salary'].astype(float)
df['salary'].dtypes

dtype('float64')

In [21]:
# Convert the ‘Age’ column to datetime
df['age'] = df['age'].astype('datetime64[ns]')
df['age'].dtypes

dtype('<M8[ns]')

In [26]:
#Assuming ‘Age’ represents date of birth, compute age_years
df['age_years'] = (pd.to_datetime('today') - df['age']).dt.days / 365
df['age_years'] = df['age_years'].astype(int)
df['age_years']

0     6
1     6
2     7
3     6
4     6
     ..
95    6
96    6
97    6
98    7
99    6
Name: age_years, Length: 100, dtype: int64

In [27]:
from datetime import date

def calculate_age(born):
    today = date.today()
    # Subtract birth year from current year, then adjust if birthday hasn't passed
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [28]:
df['age_years'] = df['age'].apply(calculate_age)
df['age_years']

0     6
1     6
2     6
3     6
4     6
     ..
95    6
96    6
97    6
98    7
99    6
Name: age_years, Length: 100, dtype: int64

In [31]:
#Identify invalid date entries and handle them.
#print the value from the column age if the month is more than 12 or les than 0
df[df['age'].dt.month > 12]

Empty DataFrame
Columns: [first_name, last_name, age, salary, street_address1, street_address2, street_address3, email, age_years]
Index: []

In [32]:
df[df['age'].dt.month < 0]

Empty DataFrame
Columns: [first_name, last_name, age, salary, street_address1, street_address2, street_address3, email, age_years]
Index: []

In [37]:
#print the value from the column age if the day is more than 31 or less than 0 and more than 28 if month is 2
df[(df['age'].dt.day > 28) & (df['age'].dt.month == 2)]

Empty DataFrame
Columns: [first_name, last_name, age, salary, street_address1, street_address2, street_address3, email, age_years]
Index: []

In [36]:
df[(df['age'].dt.day > 31) | (df['age'].dt.day < 1)]

Empty DataFrame
Columns: [first_name, last_name, age, salary, street_address1, street_address2, street_address3, email, age_years]
Index: []

 SECTION C: SALARY CLEANING

In [38]:
#Convert ‘SALARY’ from currency strings (e.g., $92.32) to float
df['salary'] = df['salary'].astype(float)
df['salary']

0     92.32
1     83.91
2     17.15
3     45.97
4     84.38
      ...
95    54.56
96    74.52
97    43.99
98    96.24
99     2.66
Name: salary, Length: 100, dtype: float64

In [42]:
#Detect missing or malformed salary values
df['salary'].isnull().sum()

np.int64(0)

In [41]:
# Compute minimum, maximum, and average salary after cleaning.
df['salary'].min()

0.22

In [43]:
df['salary'].max()

99.18

In [45]:
df['salary'].mean()

np.float64(49.3699)

In [46]:
#Flag salaries equal to zero or negative.
df[df['salary'] <= 0]

Empty DataFrame
Columns: [first_name, last_name, age, salary, street_address1, street_address2, street_address3, email, age_years]
Index: []

SECTION D: NAME CLEANING

In [47]:
#Remove leading/trailing spaces from names
df['first_name'] = df['first_name'].str.strip()
df['first_name']

0       Joel
1      Fritz
2       Wing
3       Ryan
4      Drake
       ...
95    Victor
96      Neil
97     Noble
98     Brody
99     Alden
Name: first_name, Length: 100, dtype: object

In [48]:
df['last_name'] = df['last_name'].str.strip()
df['last_name']

0       Padilla
1         Tyler
2        Phelps
3          Ross
4           Day
        ...
95        Hobbs
96     Bradford
97       Conrad
98     Whitaker
99    Mccormick
Name: last_name, Length: 100, dtype: object

In [49]:
#Convert names to proper title case.
df['first_name'] = df['first_name'].str.title()
df['first_name']

0       Joel
1      Fritz
2       Wing
3       Ryan
4      Drake
       ...
95    Victor
96      Neil
97     Noble
98     Brody
99     Alden
Name: first_name, Length: 100, dtype: object

In [50]:
df['last_name'] = df['last_name'].str.title()
df['last_name']

0       Padilla
1         Tyler
2        Phelps
3          Ross
4           Day
        ...
95        Hobbs
96     Bradford
97       Conrad
98     Whitaker
99    Mccormick
Name: last_name, Length: 100, dtype: object

In [52]:
#Detect names containing digits or special characters.
df[df['first_name'].str.contains(r'\d')]

Empty DataFrame
Columns: [first_name, last_name, age, salary, street_address1, street_address2, street_address3, email, age_years]
Index: []

In [53]:
df[df['last_name'].str.contains(r'\d')]

Empty DataFrame
Columns: [first_name, last_name, age, salary, street_address1, street_address2, street_address3, email, age_years]
Index: []

In [54]:
#Create a full_name column combining First Name and Last name.
df['full_name'] = df['first_name'] + ' ' + df['last_name']
df['full_name']

0        Joel Padilla
1         Fritz Tyler
2         Wing Phelps
3           Ryan Ross
4           Drake Day
           ...
95       Victor Hobbs
96      Neil Bradford
97       Noble Conrad
98     Brody Whitaker
99    Alden Mccormick
Name: full_name, Length: 100, dtype: object

SECTION E: EMAIL CLEANING & VALIDATION

In [55]:
#Convert all emails to lowercase
df['email'] = df['email'].str.lower()
df['email']

0                              eu@nibh.com
1     est.ac.mattis@malesuadafringilla.net
2                        dolor@cubilia.net
3        interdum.libero.dui@vitaeerat.com
4      nulla.integer.vulputate@liberoat.ca
                      ...
95                   ipsum@dictumaugue.com
96         sapien.nunc@euodiophasellus.net
97           tellus.nunc.lectus@ornare.org
98        non.dapibus.rutrum@eumetus.co.uk
99                  ut.erat@aceleifend.com
Name: email, Length: 100, dtype: object

In [56]:
#Remove leading/trailing spaces in email column.
df['email'] = df['email'].str.strip()
df['email']

0                              eu@nibh.com
1     est.ac.mattis@malesuadafringilla.net
2                        dolor@cubilia.net
3        interdum.libero.dui@vitaeerat.com
4      nulla.integer.vulputate@liberoat.ca
                      ...
95                   ipsum@dictumaugue.com
96         sapien.nunc@euodiophasellus.net
97           tellus.nunc.lectus@ornare.org
98        non.dapibus.rutrum@eumetus.co.uk
99                  ut.erat@aceleifend.com
Name: email, Length: 100, dtype: object

In [58]:
# Identify missing email addresses.
df['email'].isnull().sum()

np.int64(0)

In [62]:
#Detect duplicate emails.
df['email'].duplicated().sum()

np.int64(0)

In [63]:
# Validate email format using regex.
import re
def is_valid_email_regex(email):
  #pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a
  pattern = r"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
  if re.fullmatch(pattern, email):
        return True
  else:
        return False

In [65]:
df['email'].apply(is_valid_email_regex)

0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: email, Length: 100, dtype: bool

In [84]:
df['email'].apply(is_valid_email_regex).value_counts()

email
True    100
Name: count, dtype: int64

In [68]:
#Extract email domain and compute frequency of each domain.
df['email_domain'] = df['email'].str.split('@').str[1]
df['email_domain'].value_counts()

email_domain
pede.co.uk                2
malesuadafringilla.net    1
nibh.com                  1
cubilia.net               1
vitaeerat.com             1
                         ..
dictumaugue.com           1
euodiophasellus.net       1
ornare.org                1
eumetus.co.uk             1
aceleifend.com            1
Name: count, Length: 99, dtype: int64

SECTION F: ADDRESS CLEANING

In [70]:
df.columns

Index(['first_name', 'last_name', 'age', 'salary', 'street_address1',
       'street_address2', 'street_address3', 'email', 'age_years', 'full_name',
       'email_domain'],
      dtype='object')

In [71]:
#Identify addresses containing ‘P.O. Box’.
df[df['street_address1'].str.contains('P.O. Box')]

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years,full_name,email_domain
5,Lucian,Wynn,2019-06-11,0.54,"P.O. Box 650, 6721 Ut, Av.","P.O. Box 963, 2210 Est St.","1926 Posuere, Rd.",molestie@nuncsitamet.com,6,Lucian Wynn,nuncsitamet.com
13,Demetrius,Hurst,2020-07-08,42.07,"P.O. Box 595, 3299 Metus St.",4391 Parturient St.,"P.O. Box 401, 8266 Dictum Street",integer.mollis.integer@phasellusvitaemauris.com,5,Demetrius Hurst,phasellusvitaemauris.com
21,Moses,Barnett,2018-11-26,30.79,"P.O. Box 337, 2447 Vestibulum, Road",Ap #183-9990 Arcu. Rd.,Ap #328-773 Magna. St.,eleifend.nunc@milaciniamattis.org,7,Moses Barnett,milaciniamattis.org
34,Elvis,Smith,2018-12-03,70.00,"P.O. Box 904, 6663 Ut Rd.",899-8562 Etiam St.,620-1275 Maecenas Ave,curae.donec.tincidunt@nulla.ca,7,Elvis Smith,nulla.ca
42,Adam,Pickett,2020-05-22,84.61,"P.O. Box 263, 4023 Blandit Ave","P.O. Box 696, 4081 Orci. Rd.","Ap #285-7032 Non, St.",pharetra.quisque@ultricesduisvolutpat.org,5,Adam Pickett,ultricesduisvolutpat.org
44,Lane,Bender,2020-02-05,84.02,"P.O. Box 232, 1543 Vehicula Avenue",9690 Vitae Road,"466-860 Et, Rd.",natoque@aliquamadipiscinglobortis.net,6,Lane Bender,aliquamadipiscinglobortis.net
45,Connor,Kane,2018-08-17,24.86,"P.O. Box 731, 428 Nisl St.","P.O. Box 409, 2528 Neque Rd.","P.O. Box 354, 5471 Posuere St.",dolor@consequat.org,7,Connor Kane,consequat.org
47,Aquila,Moody,2020-03-20,43.61,"P.O. Box 805, 1638 Duis Avenue",6726 Eu St.,"P.O. Box 562, 829 Maecenas Rd.",donec.feugiat.metus@nam.com,5,Aquila Moody,nam.com
53,Xander,Battle,2018-12-27,9.06,"P.O. Box 611, 6063 Molestie Ave",Ap #331-4458 Vulputate St.,"P.O. Box 512, 5869 Ligula. Rd.",facilisis@turpisnon.org,7,Xander Battle,turpisnon.org
55,Lucian,Nguyen,2019-10-23,98.80,"P.O. Box 561, 3550 Commodo Rd.",1188 Cursus Av.,Ap #771-2453 Donec Ave,donec.sollicitudin@eget.ca,6,Lucian Nguyen,eget.ca
60,Fritz,Marquez,2018-12-21,31.09,"P.O. Box 157, 1866 Viverra. Rd.",Ap #544-3677 Nullam Street,Ap #211-1060 Sit Rd.,per.conubia@egetipsumdonec.com,7,Fritz Marquez,egetipsumdonec.com
72,Thaddeus,Workman,2019-05-10,6.86,"P.O. Box 925, 1576 Et St.","P.O. Box 682, 3390 Leo. Ave",Ap #962-5025 Ipsum Av.,elit.erat.vitae@maurisipsumporta.com,6,Thaddeus Workman,maurisipsumporta.com
73,Marshall,Harris,2020-02-04,6.35,"P.O. Box 593, 7578 Nunc St.",9197 Rutrum Avenue,155-9329 Bibendum St.,mollis@donecegestasaliquam.com,6,Marshall Harris,donecegestasaliquam.com
84,Keith,Meyer,2018-08-28,44.97,"P.O. Box 835, 3445 At, Avenue",756-3192 Nec Road,312-8233 Vehicula Avenue,aliquet.magna.a@suspendissecommodo.org,7,Keith Meyer,suspendissecommodo.org
85,Kasimir,Christensen,2019-09-09,30.62,"P.O. Box 962, 2647 Purus. Street","P.O. Box 753, 1217 Ut, St.",Ap #661-6774 Commodo Street,ornare@risusodioauctor.edu,6,Kasimir Christensen,risusodioauctor.edu
87,Honorato,Ruiz,2019-09-27,29.15,"P.O. Box 838, 2148 Ut Street","P.O. Box 645, 3116 Neque. Road",742-2419 Sem St.,nunc@natoquepenatibuset.net,6,Honorato Ruiz,natoquepenatibuset.net
88,Boris,Ramirez,2019-04-11,11.19,"P.O. Box 468, 5418 Velit Av.",Ap #986-7943 Diam Rd.,Ap #115-7485 Vivamus Rd.,massa.non.ante@dui.edu,6,Boris Ramirez,dui.edu

In [72]:
df[df['street_address2'].str.contains('P.O. Box')]

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years,full_name,email_domain
5,Lucian,Wynn,2019-06-11,0.54,"P.O. Box 650, 6721 Ut, Av.","P.O. Box 963, 2210 Est St.","1926 Posuere, Rd.",molestie@nuncsitamet.com,6,Lucian Wynn,nuncsitamet.com
7,Emerson,Pratt,2020-03-01,13.08,405-6163 Mollis St.,"P.O. Box 963, 1079 Lorem, St.",Ap #460-9797 Velit Road,semper@proinmi.net,5,Emerson Pratt,proinmi.net
8,Dustin,Fleming,2019-08-30,61.60,9205 Maecenas Ave,"P.O. Box 919, 9529 Donec Avenue","P.O. Box 926, 8939 Fusce St.",vulputate.velit.eu@lacuscras.co.uk,6,Dustin Fleming,lacuscras.co.uk
9,Addison,Juarez,2019-07-02,17.32,322-2727 Lacinia Rd.,"P.O. Box 952, 7768 Sed Road",Ap #644-6787 Pellentesque Rd.,mollis.non@quisquetinciduntpede.org,6,Addison Juarez,quisquetinciduntpede.org
10,Xanthus,Colon,2019-05-29,39.79,653-2325 Aliquam Rd.,"P.O. Box 239, 1241 Diam Rd.",9441 Duis Ave,sed.et@tristique.co.uk,6,Xanthus Colon,tristique.co.uk
14,Kermit,English,2019-01-23,92.75,568-6252 Mus. Rd.,"P.O. Box 296, 1566 Cursus. Rd.",3912 At Ave,imperdiet.dictum.magna@lobortisclass.org,7,Kermit English,lobortisclass.org
15,Zahir,Travis,2019-11-03,27.64,500-8214 Gravida. Street,"P.O. Box 873, 7725 Pede, Rd.",Ap #507-2527 Mollis. St.,quisque@semegestas.net,6,Zahir Travis,semegestas.net
16,Jelani,Carroll,2018-11-21,51.32,817-746 Mattis. St.,"P.O. Box 762, 9695 Nisi. Rd.",2847 Curabitur Road,leo.elementum@nislmaecenasmalesuada.ca,7,Jelani Carroll,nislmaecenasmalesuada.ca
26,Abbot,Love,2020-06-11,29.24,Ap #660-2020 Tincidunt Av.,"P.O. Box 486, 8215 Cras St.",215-5661 Integer Avenue,sed.tortor.integer@quisarcuvel.ca,5,Abbot Love,quisarcuvel.ca
30,Solomon,Gray,2020-05-05,94.42,368-8417 Integer Avenue,"P.O. Box 627, 1783 Odio, St.",7777 Egestas Av.,egestas@necmauris.edu,5,Solomon Gray,necmauris.edu
35,Hu,Buckner,2020-06-06,70.67,Ap #888-5585 Dui. Av.,"P.O. Box 643, 8599 Lobortis Rd.",4443 Mattis Rd.,donec.nibh@erat.com,5,Hu Buckner,erat.com
42,Adam,Pickett,2020-05-22,84.61,"P.O. Box 263, 4023 Blandit Ave","P.O. Box 696, 4081 Orci. Rd.","Ap #285-7032 Non, St.",pharetra.quisque@ultricesduisvolutpat.org,5,Adam Pickett,ultricesduisvolutpat.org
45,Connor,Kane,2018-08-17,24.86,"P.O. Box 731, 428 Nisl St.","P.O. Box 409, 2528 Neque Rd.","P.O. Box 354, 5471 Posuere St.",dolor@consequat.org,7,Connor Kane,consequat.org
51,Martin,Hall,2018-09-10,67.46,375-5583 Tempor Rd.,"P.O. Box 532, 2478 Erat Rd.","1623 Ultrices, St.",et.nunc.quisque@arcucurabiturut.edu,7,Martin Hall,arcucurabiturut.edu
58,Melvin,Bentley,2019-02-10,8.33,5599 Sed Street,"P.O. Box 227, 9657 Aliquet Rd.",967-1256 Primis Rd.,pellentesque@pede.co.uk,7,Melvin Bentley,pede.co.uk
59,Kuame,Kim,2020-03-04,47.43,186-2332 Integer St.,"P.O. Box 842, 2600 Parturient Rd.","2291 Eget, Ave",at@diam.co.uk,5,Kuame Kim,diam.co.uk
63,Brent,Fischer,2019-01-03,16.12,"253-6898 Non, Rd.","P.O. Box 864, 8018 Dictum Rd.",8382 Mauris St.,augue.eu@scelerisqueduisuspendisse.com,7,Brent Fischer,scelerisqueduisuspendisse.com
65,Felix,Levy,2019-10-02,86.48,6699 Molestie St.,"P.O. Box 784, 2127 Sit Rd.",Ap #974-8518 Sociosqu Rd.,eget@adipiscingligula.com,6,Felix Levy,adipiscingligula.com
66,Herrod,Kelly,2018-07-27,37.48,290-9034 Dolor. St.,"P.O. Box 295, 108 Montes, Avenue","P.O. Box 355, 9154 Tristique Avenue",nunc.sit.amet@suspendisseacmetus.ca,7,Herrod Kelly,suspendisseacmetus.ca
67,Zahir,Conrad,2018-12-01,58.59,4368 Arcu. Street,"P.O. Box 852, 3664 Est. Street",222-8313 Metus. Rd.,vel.sapien.imperdiet@enimetiam.org,7,Zahir Conrad,enimetiam.org
72,Thaddeus,Workman,2019-05-10,6.86,"P.O. Box 925, 1576 Et St.","P.O. Box 682, 3390 Leo. Ave",Ap #962-5025 Ipsum Av.,elit.erat.vitae@maurisipsumporta.com,6,Thaddeus Workman,maurisipsumporta.com
74,Jin,Gould,2019-10-08,48.66,587-6660 Vel Road,"P.O. Box 213, 7547 Pharetra, St.","P.O. Box 886, 3113 Arcu. Road",a.malesuada.id@sed.ca,6,Jin Gould,sed.ca
82,Jasper,Wilder,2019-08-23,65.66,"9586 Lorem, Avenue","P.O. Box 237, 128 Integer Rd.",6702 Libero Av.,non.luctus@malesuadaiderat.ca,6,Jasper Wilder,malesuadaiderat.ca
85,Kasimir,Christensen,2019-09-09,30.62,"P.O. Box 962, 2647 Purus. Street","P.O. Box 753, 1217 Ut, St.",Ap #661-6774 Commodo Street,ornare@risusodioauctor.edu,6,Kasimir Christensen,risusodioauctor.edu
87,Honorato,Ruiz,2019-09-27,29.15,"P.O. Box 838, 2148 Ut Street","P.O. Box 645, 3116 Neque. Road",742-2419 Sem St.,nunc@natoquepenatibuset.net,6,Honorato Ruiz,natoquepenatibuset.net
89,Bruce,Church,2020-01-03,92.55,280-3706 Adipiscing St.,"P.O. Box 396, 8141 Amet, Ave",Ap #544-3906 Sed St.,nullam@ut.ca,6,Bruce Church,ut.ca
90,Darius,Warren,2019-07-18,59.48,255-1540 Dui. Rd.,"P.O. Box 999, 1286 Dolor. Ave",5712 Pretium Ave,cum.sociis.natoque@liberoat.com,6,Darius Warren,liberoat.com
92,Stuart,Martin,2019-10-25,25.95,Ap #818-2389 Sed Rd.,"P.O. Box 922, 7474 Purus St.",Ap #907-3803 Sed Road,sem.semper.erat@milaciniamattis.net,6,Stuart Martin,milaciniamattis.net
94,Adam,Lowery,2019-03-10,56.22,Ap #103-7642 Vivamus St.,"P.O. Box 146, 7542 Lacus. Rd.",788-6809 Habitant Ave,aliquet@proinvelarcu.edu,6,Adam Lowery,proinvelarcu.edu
95,Victor,Hobbs,2019-05-24,54.56,4034 Vitae St.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com,6,Victor Hobbs,dictumaugue.com

In [73]:
df[df['street_address3'].str.contains('P.O. Box')]

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years,full_name,email_domain
0,Joel,Padilla,2019-10-28,92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com,6,Joel Padilla,nibh.com
4,Drake,Day,2020-01-09,84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.integer.vulputate@liberoat.ca,6,Drake Day,liberoat.ca
6,Kasper,Villarreal,2019-02-05,47.69,6449 Ultrices Av.,979-7052 Parturient Rd.,"P.O. Box 395, 3413 Tellus St.",nec.orci@mi.com,7,Kasper Villarreal,mi.com
8,Dustin,Fleming,2019-08-30,61.60,9205 Maecenas Ave,"P.O. Box 919, 9529 Donec Avenue","P.O. Box 926, 8939 Fusce St.",vulputate.velit.eu@lacuscras.co.uk,6,Dustin Fleming,lacuscras.co.uk
12,Oliver,Hartman,2019-03-15,7.36,Ap #840-7597 Risus. Ave,Ap #424-8954 Erat. Avenue,"P.O. Box 859, 934 Eu Road",tellus.suspendisse@gravida.ca,6,Oliver Hartman,gravida.ca
13,Demetrius,Hurst,2020-07-08,42.07,"P.O. Box 595, 3299 Metus St.",4391 Parturient St.,"P.O. Box 401, 8266 Dictum Street",integer.mollis.integer@phasellusvitaemauris.com,5,Demetrius Hurst,phasellusvitaemauris.com
22,Todd,Richmond,2020-06-26,64.85,9020 Ac Rd.,650-7083 Nec Rd.,"P.O. Box 658, 7970 Ac St.",duis.a.mi@nonummyfusce.net,5,Todd Richmond,nonummyfusce.net
32,Wylie,Vasquez,2020-02-08,15.15,"9710 Eu, St.",Ap #992-6350 Erat. Rd.,"P.O. Box 416, 7941 Enim Road",sit@cursusa.co.uk,6,Wylie Vasquez,cursusa.co.uk
39,Murphy,Sloan,2018-11-12,89.42,Ap #188-6469 Dictum. Ave,Ap #763-1429 Diam. Ave,"P.O. Box 786, 4820 Et, Road",proin@egestas.net,7,Murphy Sloan,egestas.net
45,Connor,Kane,2018-08-17,24.86,"P.O. Box 731, 428 Nisl St.","P.O. Box 409, 2528 Neque Rd.","P.O. Box 354, 5471 Posuere St.",dolor@consequat.org,7,Connor Kane,consequat.org
46,Ian,Conner,2019-10-18,51.91,Ap #481-6655 Volutpat. Street,Ap #963-8049 Non Avenue,"P.O. Box 107, 5842 Nunc Ave",augue.sed.molestie@acfermentumvel.co.uk,6,Ian Conner,acfermentumvel.co.uk
47,Aquila,Moody,2020-03-20,43.61,"P.O. Box 805, 1638 Duis Avenue",6726 Eu St.,"P.O. Box 562, 829 Maecenas Rd.",donec.feugiat.metus@nam.com,5,Aquila Moody,nam.com
50,Caleb,Williamson,2019-08-10,28.88,Ap #177-2906 Tellus Avenue,434-2958 Non Rd.,"P.O. Box 160, 3717 Dolor, Rd.",vivamus.euismod.urna@vestibulum.edu,6,Caleb Williamson,vestibulum.edu
53,Xander,Battle,2018-12-27,9.06,"P.O. Box 611, 6063 Molestie Ave",Ap #331-4458 Vulputate St.,"P.O. Box 512, 5869 Ligula. Rd.",facilisis@turpisnon.org,7,Xander Battle,turpisnon.org
54,Kermit,Mccarty,2019-01-16,34.62,8134 Nisi Rd.,Ap #951-8366 Rutrum Rd.,"P.O. Box 948, 9386 Ligula. Rd.",ipsum.dolor@ametmassaquisque.co.uk,7,Kermit Mccarty,ametmassaquisque.co.uk
57,Axel,Bowen,2019-09-18,87.18,"332-2122 Vulputate, Av.",6831 Sem Road,"P.O. Box 617, 5705 Dictum. St.",ante@tincidunt.ca,6,Axel Bowen,tincidunt.ca
66,Herrod,Kelly,2018-07-27,37.48,290-9034 Dolor. St.,"P.O. Box 295, 108 Montes, Avenue","P.O. Box 355, 9154 Tristique Avenue",nunc.sit.amet@suspendisseacmetus.ca,7,Herrod Kelly,suspendisseacmetus.ca
71,Clinton,Emerson,2019-06-18,45.08,Ap #857-9020 Ipsum. Street,Ap #469-4153 Luctus St.,"P.O. Box 748, 8147 Faucibus. St.",euismod@seddui.org,6,Clinton Emerson,seddui.org
74,Jin,Gould,2019-10-08,48.66,587-6660 Vel Road,"P.O. Box 213, 7547 Pharetra, St.","P.O. Box 886, 3113 Arcu. Road",a.malesuada.id@sed.ca,6,Jin Gould,sed.ca
91,August,Cleveland,2019-10-24,98.53,239-187 Venenatis Avenue,710-6545 Diam. St.,"P.O. Box 656, 3450 Dui, Street",faucibus.leo.in@arcu.net,6,August Cleveland,arcu.net
95,Victor,Hobbs,2019-05-24,54.56,4034 Vitae St.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com,6,Victor Hobbs,dictumaugue.com

In [81]:
# Detect inconsistent abbreviations (Rd. vs Road, St. vs Street)
#for street 1
df[df['street_address1'].str.contains('Rd','Road')]

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years,full_name,email_domain,full_address
0,Joel,Padilla,2019-10-28,92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com,6,Joel Padilla,nibh.com,"431-6530 Eu, Rd. 364-2264 Augue Rd. P.O. Box 8..."
9,Addison,Juarez,2019-07-02,17.32,322-2727 Lacinia Rd.,"P.O. Box 952, 7768 Sed Road",Ap #644-6787 Pellentesque Rd.,mollis.non@quisquetinciduntpede.org,6,Addison Juarez,quisquetinciduntpede.org,"322-2727 Lacinia Rd. P.O. Box 952, 7768 Sed Ro..."
10,Xanthus,Colon,2019-05-29,39.79,653-2325 Aliquam Rd.,"P.O. Box 239, 1241 Diam Rd.",9441 Duis Ave,sed.et@tristique.co.uk,6,Xanthus Colon,tristique.co.uk,"653-2325 Aliquam Rd. P.O. Box 239, 1241 Diam R..."
14,Kermit,English,2019-01-23,92.75,568-6252 Mus. Rd.,"P.O. Box 296, 1566 Cursus. Rd.",3912 At Ave,imperdiet.dictum.magna@lobortisclass.org,7,Kermit English,lobortisclass.org,"568-6252 Mus. Rd. P.O. Box 296, 1566 Cursus. R..."
20,Grady,Schroeder,2018-12-26,79.33,3832 Morbi Rd.,388-4974 Eleifend St.,5403 Donec Rd.,odio@eleifendcrassed.org,7,Grady Schroeder,eleifendcrassed.org,3832 Morbi Rd. 388-4974 Eleifend St. 5403 Done...
22,Todd,Richmond,2020-06-26,64.85,9020 Ac Rd.,650-7083 Nec Rd.,"P.O. Box 658, 7970 Ac St.",duis.a.mi@nonummyfusce.net,5,Todd Richmond,nonummyfusce.net,"9020 Ac Rd. 650-7083 Nec Rd. P.O. Box 658, 797..."
28,Eaton,Webster,2019-11-22,0.41,8240 Vitae Rd.,Ap #804-4838 Vitae St.,334 Lacus. Rd.,a@integeraliquam.ca,6,Eaton Webster,integeraliquam.ca,8240 Vitae Rd. Ap #804-4838 Vitae St. 334 Lacu...
34,Elvis,Smith,2018-12-03,70.00,"P.O. Box 904, 6663 Ut Rd.",899-8562 Etiam St.,620-1275 Maecenas Ave,curae.donec.tincidunt@nulla.ca,7,Elvis Smith,nulla.ca,"P.O. Box 904, 6663 Ut Rd. 899-8562 Etiam St. 6..."
38,Jackson,Hickman,2019-02-21,3.43,Ap #907-3481 Nunc. Rd.,Ap #692-2366 Sed Av.,995-8006 Neque Av.,consectetuer@estmollis.net,6,Jackson Hickman,estmollis.net,Ap #907-3481 Nunc. Rd. Ap #692-2366 Sed Av. 99...
41,Arthur,Pratt,2018-10-20,99.18,198-9173 Imperdiet Rd.,314-6677 Tempor Av.,Ap #871-3469 Fusce St.,pretium@vitae.edu,7,Arthur Pratt,vitae.edu,198-9173 Imperdiet Rd. 314-6677 Tempor Av. Ap ...
51,Martin,Hall,2018-09-10,67.46,375-5583 Tempor Rd.,"P.O. Box 532, 2478 Erat Rd.","1623 Ultrices, St.",et.nunc.quisque@arcucurabiturut.edu,7,Martin Hall,arcucurabiturut.edu,"375-5583 Tempor Rd. P.O. Box 532, 2478 Erat Rd..."
54,Kermit,Mccarty,2019-01-16,34.62,8134 Nisi Rd.,Ap #951-8366 Rutrum Rd.,"P.O. Box 948, 9386 Ligula. Rd.",ipsum.dolor@ametmassaquisque.co.uk,7,Kermit Mccarty,ametmassaquisque.co.uk,8134 Nisi Rd. Ap #951-8366 Rutrum Rd. P.O. Box...
55,Lucian,Nguyen,2019-10-23,98.80,"P.O. Box 561, 3550 Commodo Rd.",1188 Cursus Av.,Ap #771-2453 Donec Ave,donec.sollicitudin@eget.ca,6,Lucian Nguyen,eget.ca,"P.O. Box 561, 3550 Commodo Rd. 1188 Cursus Av...."
56,Lucas,Combs,2020-04-20,85.42,4745 Consectetuer Rd.,Ap #305-3135 Vivamus Ave,1896 Egestas Av.,vel.est@ultricesvivamus.ca,5,Lucas Combs,ultricesvivamus.ca,4745 Consectetuer Rd. Ap #305-3135 Vivamus Ave...
60,Fritz,Marquez,2018-12-21,31.09,"P.O. Box 157, 1866 Viverra. Rd.",Ap #544-3677 Nullam Street,Ap #211-1060 Sit Rd.,per.conubia@egetipsumdonec.com,7,Fritz Marquez,egetipsumdonec.com,"P.O. Box 157, 1866 Viverra. Rd. Ap #544-3677 N..."
63,Brent,Fischer,2019-01-03,16.12,"253-6898 Non, Rd.","P.O. Box 864, 8018 Dictum Rd.",8382 Mauris St.,augue.eu@scelerisqueduisuspendisse.com,7,Brent Fischer,scelerisqueduisuspendisse.com,"253-6898 Non, Rd. P.O. Box 864, 8018 Dictum Rd..."
69,Jamal,Franks,2019-06-21,70.32,Ap #948-7534 Ante. Rd.,5465 Ad St.,Ap #652-5804 Pede. Av.,ipsum.donec.sollicitudin@orci.org,6,Jamal Franks,orci.org,Ap #948-7534 Ante. Rd. 5465 Ad St. Ap #652-580...
81,Clark,Andrews,2019-06-03,94.58,5076 Gravida. Rd.,423-3585 Erat Street,6084 Gravida St.,nec@enim.co.uk,6,Clark Andrews,enim.co.uk,5076 Gravida. Rd. 423-3585 Erat Street 6084 Gr...
90,Darius,Warren,2019-07-18,59.48,255-1540 Dui. Rd.,"P.O. Box 999, 1286 Dolor. Ave",5712 Pretium Ave,cum.sociis.natoque@liberoat.com,6,Darius Warren,liberoat.com,"255-1540 Dui. Rd. P.O. Box 999, 1286 Dolor. Av..."
92,Stuart,Martin,2019-10-25,25.95,Ap #818-2389 Sed Rd.,"P.O. Box 922, 7474 Purus St.",Ap #907-3803 Sed Road,sem.semper.erat@milaciniamattis.net,6,Stuart Martin,milaciniamattis.net,"Ap #818-2389 Sed Rd. P.O. Box 922, 7474 Purus ..."
98,Brody,Whitaker,2018-08-09,96.24,Ap #371-9803 Aliquam Rd.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk,7,Brody Whitaker,eumetus.co.uk,Ap #371-9803 Aliquam Rd. 8892 Euismod Street A...

In [82]:
df[df['street_address1'].str.contains('St','Street')]

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years,full_name,email_domain,full_address
4,Drake,Day,2020-01-09,84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.integer.vulputate@liberoat.ca,6,Drake Day,liberoat.ca,"999-8221 Tempor, St. 297-6939 Turpis. Ave P.O...."
7,Emerson,Pratt,2020-03-01,13.08,405-6163 Mollis St.,"P.O. Box 963, 1079 Lorem, St.",Ap #460-9797 Velit Road,semper@proinmi.net,5,Emerson Pratt,proinmi.net,"405-6163 Mollis St. P.O. Box 963, 1079 Lorem, ..."
13,Demetrius,Hurst,2020-07-08,42.07,"P.O. Box 595, 3299 Metus St.",4391 Parturient St.,"P.O. Box 401, 8266 Dictum Street",integer.mollis.integer@phasellusvitaemauris.com,5,Demetrius Hurst,phasellusvitaemauris.com,"P.O. Box 595, 3299 Metus St. 4391 Parturient S..."
15,Zahir,Travis,2019-11-03,27.64,500-8214 Gravida. Street,"P.O. Box 873, 7725 Pede, Rd.",Ap #507-2527 Mollis. St.,quisque@semegestas.net,6,Zahir Travis,semegestas.net,"500-8214 Gravida. Street P.O. Box 873, 7725 Pe..."
16,Jelani,Carroll,2018-11-21,51.32,817-746 Mattis. St.,"P.O. Box 762, 9695 Nisi. Rd.",2847 Curabitur Road,leo.elementum@nislmaecenasmalesuada.ca,7,Jelani Carroll,nislmaecenasmalesuada.ca,"817-746 Mattis. St. P.O. Box 762, 9695 Nisi. R..."
17,Zachery,Skinner,2018-08-24,69.21,750-2734 Eu St.,1613 Interdum. Street,5101 Nulla. Av.,nulla.ante.iaculis@pede.co.uk,7,Zachery Skinner,pede.co.uk,750-2734 Eu St. 1613 Interdum. Street 5101 Nul...
19,Curran,Gay,2018-09-20,17.96,Ap #334-1963 Gravida Street,Ap #859-6577 Accumsan Rd.,934-3060 Enim. St.,id.erat.etiam@elitpede.ca,7,Curran Gay,elitpede.ca,Ap #334-1963 Gravida Street Ap #859-6577 Accum...
25,Reed,Duke,2019-11-25,30.94,1903 Egestas St.,6642 Fusce Ave,Ap #788-4216 Ipsum Road,morbi.neque@ultrices.com,6,Reed Duke,ultrices.com,1903 Egestas St. 6642 Fusce Ave Ap #788-4216 I...
31,Zephania,Hamilton,2019-06-06,73.25,"3424 Magna, St.",2775 Enim Av.,500-1222 Ligula. Rd.,lacus.quisque@lacuscras.ca,6,Zephania Hamilton,lacuscras.ca,"3424 Magna, St. 2775 Enim Av. 500-1222 Ligula...."
32,Wylie,Vasquez,2020-02-08,15.15,"9710 Eu, St.",Ap #992-6350 Erat. Rd.,"P.O. Box 416, 7941 Enim Road",sit@cursusa.co.uk,6,Wylie Vasquez,cursusa.co.uk,"9710 Eu, St. Ap #992-6350 Erat. Rd. P.O. Box 4..."
45,Connor,Kane,2018-08-17,24.86,"P.O. Box 731, 428 Nisl St.","P.O. Box 409, 2528 Neque Rd.","P.O. Box 354, 5471 Posuere St.",dolor@consequat.org,7,Connor Kane,consequat.org,"P.O. Box 731, 428 Nisl St. P.O. Box 409, 2528 ..."
46,Ian,Conner,2019-10-18,51.91,Ap #481-6655 Volutpat. Street,Ap #963-8049 Non Avenue,"P.O. Box 107, 5842 Nunc Ave",augue.sed.molestie@acfermentumvel.co.uk,6,Ian Conner,acfermentumvel.co.uk,Ap #481-6655 Volutpat. Street Ap #963-8049 Non...
58,Melvin,Bentley,2019-02-10,8.33,5599 Sed Street,"P.O. Box 227, 9657 Aliquet Rd.",967-1256 Primis Rd.,pellentesque@pede.co.uk,7,Melvin Bentley,pede.co.uk,"5599 Sed Street P.O. Box 227, 9657 Aliquet Rd...."
59,Kuame,Kim,2020-03-04,47.43,186-2332 Integer St.,"P.O. Box 842, 2600 Parturient Rd.","2291 Eget, Ave",at@diam.co.uk,5,Kuame Kim,diam.co.uk,"186-2332 Integer St. P.O. Box 842, 2600 Partur..."
61,Berk,Nunez,2019-05-07,92.82,9834 Vitae Street,Ap #263-2841 Velit Avenue,Ap #466-2012 Ornare Av.,neque@nonummy.com,6,Berk Nunez,nonummy.com,9834 Vitae Street Ap #263-2841 Velit Avenue Ap...
62,Curran,Puckett,2020-03-12,46.88,410-1572 Enim. Street,Ap #342-426 Curae; Street,178-5392 Eu Av.,vestibulum.neque.sed@facilisisvitae.edu,5,Curran Puckett,facilisisvitae.edu,410-1572 Enim. Street Ap #342-426 Curae; Stree...
65,Felix,Levy,2019-10-02,86.48,6699 Molestie St.,"P.O. Box 784, 2127 Sit Rd.",Ap #974-8518 Sociosqu Rd.,eget@adipiscingligula.com,6,Felix Levy,adipiscingligula.com,"6699 Molestie St. P.O. Box 784, 2127 Sit Rd. A..."
66,Herrod,Kelly,2018-07-27,37.48,290-9034 Dolor. St.,"P.O. Box 295, 108 Montes, Avenue","P.O. Box 355, 9154 Tristique Avenue",nunc.sit.amet@suspendisseacmetus.ca,7,Herrod Kelly,suspendisseacmetus.ca,"290-9034 Dolor. St. P.O. Box 295, 108 Montes, ..."
67,Zahir,Conrad,2018-12-01,58.59,4368 Arcu. Street,"P.O. Box 852, 3664 Est. Street",222-8313 Metus. Rd.,vel.sapien.imperdiet@enimetiam.org,7,Zahir Conrad,enimetiam.org,"4368 Arcu. Street P.O. Box 852, 3664 Est. Stre..."
68,Fulton,Gill,2018-09-23,40.70,"850-996 Odio, St.",Ap #648-9574 Amet Rd.,Ap #710-6211 Donec Rd.,diam.lorem.auctor@velitinaliquet.net,7,Fulton Gill,velitinaliquet.net,"850-996 Odio, St. Ap #648-9574 Amet Rd. Ap #71..."
70,Ira,Francis,2018-11-06,43.03,428-8034 Orci St.,8708 Donec Rd.,415 Neque Rd.,blandit.nam@sed.net,7,Ira Francis,sed.net,428-8034 Orci St. 8708 Donec Rd. 415 Neque Rd.
71,Clinton,Emerson,2019-06-18,45.08,Ap #857-9020 Ipsum. Street,Ap #469-4153 Luctus St.,"P.O. Box 748, 8147 Faucibus. St.",euismod@seddui.org,6,Clinton Emerson,seddui.org,Ap #857-9020 Ipsum. Street Ap #469-4153 Luctus...
72,Thaddeus,Workman,2019-05-10,6.86,"P.O. Box 925, 1576 Et St.","P.O. Box 682, 3390 Leo. Ave",Ap #962-5025 Ipsum Av.,elit.erat.vitae@maurisipsumporta.com,6,Thaddeus Workman,maurisipsumporta.com,"P.O. Box 925, 1576 Et St. P.O. Box 682, 3390 L..."
73,Marshall,Harris,2020-02-04,6.35,"P.O. Box 593, 7578 Nunc St.",9197 Rutrum Avenue,155-9329 Bibendum St.,mollis@donecegestasaliquam.com,6,Marshall Harris,donecegestasaliquam.com,"P.O. Box 593, 7578 Nunc St. 9197 Rutrum Avenue..."
75,Ulric,Alvarado,2019-09-25,72.00,217-9576 Libero. Street,678-7906 Iaculis Rd.,376-8891 Neque Avenue,turpis.egestas@ultricesiaculisodio.com,6,Ulric Alvarado,ultricesiaculisodio.com,217-9576 Libero. Street 678-7906 Iaculis Rd. 3...
76,Brennan,Berry,2019-08-03,60.00,Ap #892-1345 Tellus St.,8733 Ligula St.,Ap #248-2366 Nunc Rd.,nulla@enimdiamvel.com,6,Brennan Berry,enimdiamvel.com,Ap #892-1345 Tellus St. 8733 Ligula St. Ap #24...
78,Dylan,Figueroa,2019-02-10,92.13,164-9154 Vitae Street,Ap #215-459 Proin Av.,Ap #914-6812 Tempor Rd.,nascetur.ridiculus.mus@vulputatenisisem.edu,7,Dylan Figueroa,vulputatenisisem.edu,164-9154 Vitae Street Ap #215-459 Proin Av. Ap...
79,Knox,Luna,2019-10-29,5.63,2523 In Street,Ap #506-7675 Imperdiet Rd.,Ap #321-3874 Vel Street,magna.phasellus.dolor@nectempus.org,6,Knox Luna,nectempus.org,2523 In Street Ap #506-7675 Imperdiet Rd. Ap #...
85,Kasimir,Christensen,2019-09-09,30.62,"P.O. Box 962, 2647 Purus. Street","P.O. Box 753, 1217 Ut, St.",Ap #661-6774 Commodo Street,ornare@risusodioauctor.edu,6,Kasimir Christensen,risusodioauctor.edu,"P.O. Box 962, 2647 Purus. Street P.O. Box 753,..."
87,Honorato,Ruiz,2019-09-27,29.15,"P.O. Box 838, 2148 Ut Street","P.O. Box 645, 3116 Neque. Road",742-2419 Sem St.,nunc@natoquepenatibuset.net,6,Honorato Ruiz,natoquepenatibuset.net,"P.O. Box 838, 2148 Ut Street P.O. Box 645, 311..."
89,Bruce,Church,2020-01-03,92.55,280-3706 Adipiscing St.,"P.O. Box 396, 8141 Amet, Ave",Ap #544-3906 Sed St.,nullam@ut.ca,6,Bruce Church,ut.ca,"280-3706 Adipiscing St. P.O. Box 396, 8141 Ame..."
94,Adam,Lowery,2019-03-10,56.22,Ap #103-7642 Vivamus St.,"P.O. Box 146, 7542 Lacus. Rd.",788-6809 Habitant Ave,aliquet@proinvelarcu.edu,6,Adam Lowery,proinvelarcu.edu,"Ap #103-7642 Vivamus St. P.O. Box 146, 7542 La..."
95,Victor,Hobbs,2019-05-24,54.56,4034 Vitae St.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com,6,Victor Hobbs,dictumaugue.com,"4034 Vitae St. P.O. Box 930, 1683 Eu Rd. P.O. ..."
96,Neil,Bradford,2020-02-07,74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.nunc@euodiophasellus.net,6,Neil Bradford,euodiophasellus.net,"1434 Aliquet, Street 956-6627 Nunc Av. Ap #727..."
97,Noble,Conrad,2019-10-29,43.99,"Ap #173-7049 Eget, St.",Ap #620-2512 Ut Street,8768 Aenean St.,tellus.nunc.lectus@ornare.org,6,Noble Conrad,ornare.org,"Ap #173-7049 Eget, St. Ap #620-2512 Ut Street ..."

In [83]:
df['street_address1'] = df['street_address1'].str.replace('Rd','Road')
df['street_address1'] = df['street_address1'].str.replace('St','Street')
df['street_address1']

0             431-6530 Eu, Road.
1            Ap #377-2267 Ac Av.
2      Ap #545-5786 Pulvinar Ave
3               634-7858 Id Road
4       999-8221 Tempor, Street.
                 ...
95            4034 Vitae Street.
96      1434 Aliquet, Streetreet
97    Ap #173-7049 Eget, Street.
98    Ap #371-9803 Aliquam Road.
99      Ap #375-1139 Risus. Road
Name: street_address1, Length: 100, dtype: object

In [ ]:
#for street 2
df[df['street_address2'].str.contains('Rd','Road')]

In [ ]:
df[df['street_address2'].str.contains('St','Street')]

In [ ]:
df['street_address2'] = df['street_address2'].str.replace('Rd','Road')
df['street_address2'] = df['street_address2'].str.replace('St','Street')
df['street_address2']

In [85]:
#for street 3
df[df['street_address3'].str.contains('Rd','Road')]

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years,full_name,email_domain,full_address
4,Drake,Day,2020-01-09,84.38,"999-8221 Tempor, Street.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.integer.vulputate@liberoat.ca,6,Drake Day,liberoat.ca,"999-8221 Tempor, St. 297-6939 Turpis. Ave P.O...."
5,Lucian,Wynn,2019-06-11,0.54,"P.O. Box 650, 6721 Ut, Av.","P.O. Box 963, 2210 Est St.","1926 Posuere, Rd.",molestie@nuncsitamet.com,6,Lucian Wynn,nuncsitamet.com,"P.O. Box 650, 6721 Ut, Av. P.O. Box 963, 2210 ..."
9,Addison,Juarez,2019-07-02,17.32,322-2727 Lacinia Road.,"P.O. Box 952, 7768 Sed Road",Ap #644-6787 Pellentesque Rd.,mollis.non@quisquetinciduntpede.org,6,Addison Juarez,quisquetinciduntpede.org,"322-2727 Lacinia Rd. P.O. Box 952, 7768 Sed Ro..."
20,Grady,Schroeder,2018-12-26,79.33,3832 Morbi Road.,388-4974 Eleifend St.,5403 Donec Rd.,odio@eleifendcrassed.org,7,Grady Schroeder,eleifendcrassed.org,3832 Morbi Rd. 388-4974 Eleifend St. 5403 Done...
28,Eaton,Webster,2019-11-22,0.41,8240 Vitae Road.,Ap #804-4838 Vitae St.,334 Lacus. Rd.,a@integeraliquam.ca,6,Eaton Webster,integeraliquam.ca,8240 Vitae Rd. Ap #804-4838 Vitae St. 334 Lacu...
29,Allen,Odom,2019-08-03,20.60,942 Duis Road,Ap #266-6330 Conubia Ave,1887 Eget Rd.,nunc@felis.com,6,Allen Odom,felis.com,942 Duis Road Ap #266-6330 Conubia Ave 1887 Eg...
31,Zephania,Hamilton,2019-06-06,73.25,"3424 Magna, Street.",2775 Enim Av.,500-1222 Ligula. Rd.,lacus.quisque@lacuscras.ca,6,Zephania Hamilton,lacuscras.ca,"3424 Magna, St. 2775 Enim Av. 500-1222 Ligula...."
35,Hu,Buckner,2020-06-06,70.67,Ap #888-5585 Dui. Av.,"P.O. Box 643, 8599 Lobortis Rd.",4443 Mattis Rd.,donec.nibh@erat.com,5,Hu Buckner,erat.com,"Ap #888-5585 Dui. Av. P.O. Box 643, 8599 Lobor..."
44,Lane,Bender,2020-02-05,84.02,"P.O. Box 232, 1543 Vehicula Avenue",9690 Vitae Road,"466-860 Et, Rd.",natoque@aliquamadipiscinglobortis.net,6,Lane Bender,aliquamadipiscinglobortis.net,"P.O. Box 232, 1543 Vehicula Avenue 9690 Vitae ..."
47,Aquila,Moody,2020-03-20,43.61,"P.O. Box 805, 1638 Duis Avenue",6726 Eu St.,"P.O. Box 562, 829 Maecenas Rd.",donec.feugiat.metus@nam.com,5,Aquila Moody,nam.com,"P.O. Box 805, 1638 Duis Avenue 6726 Eu St. P.O..."
48,Bruce,Lee,2020-07-14,35.82,"9396 Ut, Avenue",Ap #429-401 Convallis Av.,629-426 Euismod Rd.,dictum.eu.placerat@leocrasvehicula.ca,5,Bruce Lee,leocrasvehicula.ca,"9396 Ut, Avenue Ap #429-401 Convallis Av. 629-..."
50,Caleb,Williamson,2019-08-10,28.88,Ap #177-2906 Tellus Avenue,434-2958 Non Rd.,"P.O. Box 160, 3717 Dolor, Rd.",vivamus.euismod.urna@vestibulum.edu,6,Caleb Williamson,vestibulum.edu,Ap #177-2906 Tellus Avenue 434-2958 Non Rd. P....
53,Xander,Battle,2018-12-27,9.06,"P.O. Box 611, 6063 Molestie Ave",Ap #331-4458 Vulputate St.,"P.O. Box 512, 5869 Ligula. Rd.",facilisis@turpisnon.org,7,Xander Battle,turpisnon.org,"P.O. Box 611, 6063 Molestie Ave Ap #331-4458 V..."
54,Kermit,Mccarty,2019-01-16,34.62,8134 Nisi Road.,Ap #951-8366 Rutrum Rd.,"P.O. Box 948, 9386 Ligula. Rd.",ipsum.dolor@ametmassaquisque.co.uk,7,Kermit Mccarty,ametmassaquisque.co.uk,8134 Nisi Rd. Ap #951-8366 Rutrum Rd. P.O. Box...
58,Melvin,Bentley,2019-02-10,8.33,5599 Sed Streetreet,"P.O. Box 227, 9657 Aliquet Rd.",967-1256 Primis Rd.,pellentesque@pede.co.uk,7,Melvin Bentley,pede.co.uk,"5599 Sed Street P.O. Box 227, 9657 Aliquet Rd...."
60,Fritz,Marquez,2018-12-21,31.09,"P.O. Box 157, 1866 Viverra. Road.",Ap #544-3677 Nullam Street,Ap #211-1060 Sit Rd.,per.conubia@egetipsumdonec.com,7,Fritz Marquez,egetipsumdonec.com,"P.O. Box 157, 1866 Viverra. Rd. Ap #544-3677 N..."
65,Felix,Levy,2019-10-02,86.48,6699 Molestie Street.,"P.O. Box 784, 2127 Sit Rd.",Ap #974-8518 Sociosqu Rd.,eget@adipiscingligula.com,6,Felix Levy,adipiscingligula.com,"6699 Molestie St. P.O. Box 784, 2127 Sit Rd. A..."
67,Zahir,Conrad,2018-12-01,58.59,4368 Arcu. Streetreet,"P.O. Box 852, 3664 Est. Street",222-8313 Metus. Rd.,vel.sapien.imperdiet@enimetiam.org,7,Zahir Conrad,enimetiam.org,"4368 Arcu. Street P.O. Box 852, 3664 Est. Stre..."
68,Fulton,Gill,2018-09-23,40.70,"850-996 Odio, Street.",Ap #648-9574 Amet Rd.,Ap #710-6211 Donec Rd.,diam.lorem.auctor@velitinaliquet.net,7,Fulton Gill,velitinaliquet.net,"850-996 Odio, St. Ap #648-9574 Amet Rd. Ap #71..."
70,Ira,Francis,2018-11-06,43.03,428-8034 Orci Street.,8708 Donec Rd.,415 Neque Rd.,blandit.nam@sed.net,7,Ira Francis,sed.net,428-8034 Orci St. 8708 Donec Rd. 415 Neque Rd.
76,Brennan,Berry,2019-08-03,60.00,Ap #892-1345 Tellus Street.,8733 Ligula St.,Ap #248-2366 Nunc Rd.,nulla@enimdiamvel.com,6,Brennan Berry,enimdiamvel.com,Ap #892-1345 Tellus St. 8733 Ligula St. Ap #24...
78,Dylan,Figueroa,2019-02-10,92.13,164-9154 Vitae Streetreet,Ap #215-459 Proin Av.,Ap #914-6812 Tempor Rd.,nascetur.ridiculus.mus@vulputatenisisem.edu,7,Dylan Figueroa,vulputatenisisem.edu,164-9154 Vitae Street Ap #215-459 Proin Av. Ap...
88,Boris,Ramirez,2019-04-11,11.19,"P.O. Box 468, 5418 Velit Av.",Ap #986-7943 Diam Rd.,Ap #115-7485 Vivamus Rd.,massa.non.ante@dui.edu,6,Boris Ramirez,dui.edu,"P.O. Box 468, 5418 Velit Av. Ap #986-7943 Diam..."
93,Hashim,Andrews,2018-12-31,56.50,"Ap #961-4075 Vitae, Road",8722 Ornare Rd.,9402 Nec Rd.,libero.nec@suspendisseduifusce.org,7,Hashim Andrews,suspendisseduifusce.org,"Ap #961-4075 Vitae, Road 8722 Ornare Rd. 9402 ..."
95,Victor,Hobbs,2019-05-24,54.56,4034 Vitae Street.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com,6,Victor Hobbs,dictumaugue.com,"4034 Vitae St. P.O. Box 930, 1683 Eu Rd. P.O. ..."

In [86]:
df[df['street_address3'].str.contains('St','Street')]

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years,full_name,email_domain,full_address
0,Joel,Padilla,2019-10-28,92.32,"431-6530 Eu, Road.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com,6,Joel Padilla,nibh.com,"431-6530 Eu, Rd. 364-2264 Augue Rd. P.O. Box 8..."
2,Wing,Phelps,2019-02-18,17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net,6,Wing Phelps,cubilia.net,Ap #545-5786 Pulvinar Ave Ap #973-5781 Sagitti...
6,Kasper,Villarreal,2019-02-05,47.69,6449 Ultrices Av.,979-7052 Parturient Rd.,"P.O. Box 395, 3413 Tellus St.",nec.orci@mi.com,7,Kasper Villarreal,mi.com,6449 Ultrices Av. 979-7052 Parturient Rd. P.O....
8,Dustin,Fleming,2019-08-30,61.60,9205 Maecenas Ave,"P.O. Box 919, 9529 Donec Avenue","P.O. Box 926, 8939 Fusce St.",vulputate.velit.eu@lacuscras.co.uk,6,Dustin Fleming,lacuscras.co.uk,"9205 Maecenas Ave P.O. Box 919, 9529 Donec Ave..."
13,Demetrius,Hurst,2020-07-08,42.07,"P.O. Box 595, 3299 Metus Street.",4391 Parturient St.,"P.O. Box 401, 8266 Dictum Street",integer.mollis.integer@phasellusvitaemauris.com,5,Demetrius Hurst,phasellusvitaemauris.com,"P.O. Box 595, 3299 Metus St. 4391 Parturient S..."
15,Zahir,Travis,2019-11-03,27.64,500-8214 Gravida. Streetreet,"P.O. Box 873, 7725 Pede, Rd.",Ap #507-2527 Mollis. St.,quisque@semegestas.net,6,Zahir Travis,semegestas.net,"500-8214 Gravida. Street P.O. Box 873, 7725 Pe..."
19,Curran,Gay,2018-09-20,17.96,Ap #334-1963 Gravida Streetreet,Ap #859-6577 Accumsan Rd.,934-3060 Enim. St.,id.erat.etiam@elitpede.ca,7,Curran Gay,elitpede.ca,Ap #334-1963 Gravida Street Ap #859-6577 Accum...
21,Moses,Barnett,2018-11-26,30.79,"P.O. Box 337, 2447 Vestibulum, Road",Ap #183-9990 Arcu. Rd.,Ap #328-773 Magna. St.,eleifend.nunc@milaciniamattis.org,7,Moses Barnett,milaciniamattis.org,"P.O. Box 337, 2447 Vestibulum, Road Ap #183-99..."
22,Todd,Richmond,2020-06-26,64.85,9020 Ac Road.,650-7083 Nec Rd.,"P.O. Box 658, 7970 Ac St.",duis.a.mi@nonummyfusce.net,5,Todd Richmond,nonummyfusce.net,"9020 Ac Rd. 650-7083 Nec Rd. P.O. Box 658, 797..."
23,Dante,Summers,2019-08-01,90.14,"651-6550 Felis, Av.","Ap #613-7918 Dui, Rd.","9110 Vestibulum, St.",dui.fusce@etiamvestibulummassa.co.uk,6,Dante Summers,etiamvestibulummassa.co.uk,"651-6550 Felis, Av. Ap #613-7918 Dui, Rd. 9110..."
36,Solomon,Willis,2020-05-05,70.77,4681 Litora Avenue,Ap #922-373 Curabitur St.,Ap #907-5125 Eget St.,senectus.et.netus@laoreetlectusquis.org,5,Solomon Willis,laoreetlectusquis.org,4681 Litora Avenue Ap #922-373 Curabitur St. A...
40,Elton,Delgado,2020-05-11,88.40,3475 Velit. Ave,8687 Accumsan St.,8781 Feugiat Street,nunc.pulvinar.arcu@nonmagna.org,5,Elton Delgado,nonmagna.org,3475 Velit. Ave 8687 Accumsan St. 8781 Feugiat...
41,Arthur,Pratt,2018-10-20,99.18,198-9173 Imperdiet Road.,314-6677 Tempor Av.,Ap #871-3469 Fusce St.,pretium@vitae.edu,7,Arthur Pratt,vitae.edu,198-9173 Imperdiet Rd. 314-6677 Tempor Av. Ap ...
42,Adam,Pickett,2020-05-22,84.61,"P.O. Box 263, 4023 Blandit Ave","P.O. Box 696, 4081 Orci. Rd.","Ap #285-7032 Non, St.",pharetra.quisque@ultricesduisvolutpat.org,5,Adam Pickett,ultricesduisvolutpat.org,"P.O. Box 263, 4023 Blandit Ave P.O. Box 696, 4..."
45,Connor,Kane,2018-08-17,24.86,"P.O. Box 731, 428 Nisl Street.","P.O. Box 409, 2528 Neque Rd.","P.O. Box 354, 5471 Posuere St.",dolor@consequat.org,7,Connor Kane,consequat.org,"P.O. Box 731, 428 Nisl St. P.O. Box 409, 2528 ..."
51,Martin,Hall,2018-09-10,67.46,375-5583 Tempor Road.,"P.O. Box 532, 2478 Erat Rd.","1623 Ultrices, St.",et.nunc.quisque@arcucurabiturut.edu,7,Martin Hall,arcucurabiturut.edu,"375-5583 Tempor Rd. P.O. Box 532, 2478 Erat Rd..."
57,Axel,Bowen,2019-09-18,87.18,"332-2122 Vulputate, Av.",6831 Sem Road,"P.O. Box 617, 5705 Dictum. St.",ante@tincidunt.ca,6,Axel Bowen,tincidunt.ca,"332-2122 Vulputate, Av. 6831 Sem Road P.O. Box..."
63,Brent,Fischer,2019-01-03,16.12,"253-6898 Non, Road.","P.O. Box 864, 8018 Dictum Rd.",8382 Mauris St.,augue.eu@scelerisqueduisuspendisse.com,7,Brent Fischer,scelerisqueduisuspendisse.com,"253-6898 Non, Rd. P.O. Box 864, 8018 Dictum Rd..."
71,Clinton,Emerson,2019-06-18,45.08,Ap #857-9020 Ipsum. Streetreet,Ap #469-4153 Luctus St.,"P.O. Box 748, 8147 Faucibus. St.",euismod@seddui.org,6,Clinton Emerson,seddui.org,Ap #857-9020 Ipsum. Street Ap #469-4153 Luctus...
73,Marshall,Harris,2020-02-04,6.35,"P.O. Box 593, 7578 Nunc Street.",9197 Rutrum Avenue,155-9329 Bibendum St.,mollis@donecegestasaliquam.com,6,Marshall Harris,donecegestasaliquam.com,"P.O. Box 593, 7578 Nunc St. 9197 Rutrum Avenue..."
79,Knox,Luna,2019-10-29,5.63,2523 In Streetreet,Ap #506-7675 Imperdiet Rd.,Ap #321-3874 Vel Street,magna.phasellus.dolor@nectempus.org,6,Knox Luna,nectempus.org,2523 In Street Ap #506-7675 Imperdiet Rd. Ap #...
81,Clark,Andrews,2019-06-03,94.58,5076 Gravida. Road.,423-3585 Erat Street,6084 Gravida St.,nec@enim.co.uk,6,Clark Andrews,enim.co.uk,5076 Gravida. Rd. 423-3585 Erat Street 6084 Gr...
85,Kasimir,Christensen,2019-09-09,30.62,"P.O. Box 962, 2647 Purus. Streetreet","P.O. Box 753, 1217 Ut, St.",Ap #661-6774 Commodo Street,ornare@risusodioauctor.edu,6,Kasimir Christensen,risusodioauctor.edu,"P.O. Box 962, 2647 Purus. Street P.O. Box 753,..."
87,Honorato,Ruiz,2019-09-27,29.15,"P.O. Box 838, 2148 Ut Streetreet","P.O. Box 645, 3116 Neque. Road",742-2419 Sem St.,nunc@natoquepenatibuset.net,6,Honorato Ruiz,natoquepenatibuset.net,"P.O. Box 838, 2148 Ut Street P.O. Box 645, 311..."
89,Bruce,Church,2020-01-03,92.55,280-3706 Adipiscing Street.,"P.O. Box 396, 8141 Amet, Ave",Ap #544-3906 Sed St.,nullam@ut.ca,6,Bruce Church,ut.ca,"280-3706 Adipiscing St. P.O. Box 396, 8141 Ame..."
91,August,Cleveland,2019-10-24,98.53,239-187 Venenatis Avenue,710-6545 Diam. St.,"P.O. Box 656, 3450 Dui, Street",faucibus.leo.in@arcu.net,6,August Cleveland,arcu.net,239-187 Venenatis Avenue 710-6545 Diam. St. P....
97,Noble,Conrad,2019-10-29,43.99,"Ap #173-7049 Eget, Street.",Ap #620-2512 Ut Street,8768 Aenean St.,tellus.nunc.lectus@ornare.org,6,Noble Conrad,ornare.org,"Ap #173-7049 Eget, St. Ap #620-2512 Ut Street ..."
98,Brody,Whitaker,2018-08-09,96.24,Ap #371-9803 Aliquam Road.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk,7,Brody Whitaker,eumetus.co.uk,Ap #371-9803 Aliquam Rd. 8892 Euismod Street A...
99,Alden,Mccormick,2019-07-27,2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas St.,ut.erat@aceleifend.com,6,Alden Mccormick,aceleifend.com,Ap #375-1139 Risus. Road 7259 Duis Avenue 955-...

In [87]:
df['street_address3'] = df['street_address3'].str.replace('Rd','Road')
df['street_address3'] = df['street_address3'].str.replace('St','Street')
df['street_address3']

0     P.O. Box 864, 3882 Orci Streetreet
1                            9865 Eu Av.
2                        9959 Ut Street.
3                        318-5271 In Ave
4       P.O. Box 638, 6932 Laoreet Road.
                     ...
95         P.O. Box 181, 3360 Mus. Road.
96              Ap #727-6109 Sapien. Av.
97                   8768 Aenean Street.
98        Ap #201-659 Libero. Streetreet
99             955-4058 Maecenas Street.
Name: street_address3, Length: 100, dtype: object

In [88]:
#Concatenate Address1, Address2, and Address3 into full_address
df['full_address'] = df['street_address1'] + ' ' + df['street_address2']+ ' ' + df['street_address3']
df['full_address']

0     431-6530 Eu, Road. 364-2264 Augue Rd. P.O. Box...
1      Ap #377-2267 Ac Av. 979-2228 Vel Ave 9865 Eu Av.
2     Ap #545-5786 Pulvinar Ave Ap #973-5781 Sagitti...
3     634-7858 Id Road 907-8824 Fringilla Ave 318-52...
4     999-8221 Tempor, Street. 297-6939 Turpis. Ave ...
                            ...
95    4034 Vitae Street. P.O. Box 930, 1683 Eu Rd. P...
96    1434 Aliquet, Streetreet 956-6627 Nunc Av. Ap ...
97    Ap #173-7049 Eget, Street. Ap #620-2512 Ut Str...
98    Ap #371-9803 Aliquam Road. 8892 Euismod Street...
99    Ap #375-1139 Risus. Road 7259 Duis Avenue 955-...
Name: full_address, Length: 100, dtype: object

In [89]:
#Detect duplicate addresses
df['full_address'].duplicated().sum()

np.int64(0)

SECTION G: MISSING VALUES & DUPLICATES

In [90]:
#Compute total missing values per column
df.isnull().sum()

first_name         0
last_name          0
age                0
salary             0
street_address1    0
street_address2    0
street_address3    0
email              0
age_years          0
full_name          0
email_domain       0
full_address       0
dtype: int64

In [95]:
#Calculate percentage of missing values.
(df.isnull().sum().sum() / len(df)) * 100

np.float64(0.0)

In [92]:
df.shape

(100, 12)

In [93]:
#drop fully duplicate rows.
df = df.drop_duplicates()
df.shape

(100, 12)

In [96]:
#Identify soft duplicates (same email but different name)
df[df['email'].duplicated(keep=False)]

Empty DataFrame
Columns: [first_name, last_name, age, salary, street_address1, street_address2, street_address3, email, age_years, full_name, email_domain, full_address]
Index: []

 SECTION H: DATA CONSISTENCY CHECKS

In [101]:
#Check for unrealistic ages (negative or greater than 100).
df[df['age_years'] < 0]

Empty DataFrame
Columns: [first_name, last_name, age, salary, street_address1, street_address2, street_address3, email, age_years, full_name, email_domain, full_address]
Index: []

In [102]:
df[df['age_years'] > 100]

Empty DataFrame
Columns: [first_name, last_name, age, salary, street_address1, street_address2, street_address3, email, age_years, full_name, email_domain, full_address]
Index: []

In [103]:
# Detect salary outliers using IQR method.
Q1 = df['salary'].quantile(0.25)
Q3 = df['salary'].quantile(0.75)
IQR = Q3 - Q1

In [105]:
# IQR = Q3 - Q1 ; Q3 = median of the upper half of the data ; Q1 = median of the lower half of the data
IQR

np.float64(43.7425)

In [106]:
#Determine whether email can serve as a primary key.
df['email'].duplicated().sum()

np.int64(0)

 SECTION I: EXPORT & REPORTING

In [107]:
#Export cleaned dataset as cleaned_dataset.csv
df.to_csv('cleaned_dataset.csv', index=False)