<a href="https://colab.research.google.com/github/Sru-j/daily_lab_activities/blob/main/2_Example_DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DATA LOADING VIA URL

In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/bkeerthana/MLC/refs/heads/main/DataCleaning/2_raw_dataset.csv"
df = pd.read_csv(url)

#DATA INSPECTION

In [3]:
df

,irst Name,Last name,Age,SALARY,STREET Address1,STREET Address2,STREET Address3,email
0,Joel,Padilla,10/28/2019,$92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com
1,Fritz,Tyler,09/27/2019,$83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net
2,Wing,Phelps,02/18/2019,$17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net
3,Ryan,Ross,05/21/2019,$45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com
4,Drake,Day,01/09/2020,$84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.Integer.vulputate@liberoat.ca
...,...,...,...,...,...,...,...,...
95,Victor,Hobbs,05/24/2019,$54.56,4034 Vitae St.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com
96,Neil,Bradford,02/07/2020,$74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.Nunc@euodioPhasellus.net
97,Noble,Conrad,10/29/2019,$43.99,"Ap #173-7049 Eget, St.",Ap #620-2512 Ut Street,8768 Aenean St.,tellus.Nunc.lectus@ornare.org
98,Brody,Whitaker,08/09/2018,$96.24,Ap #371-9803 Aliquam Rd.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk
99,Alden,Mccormick,07/27/2019,$2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas St.,ut.erat@aceleifend.com

In [4]:
df.shape

(100, 8)

In [5]:
df.columns

Index(['irst Name', 'Last name', 'Age', 'SALARY', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'],
      dtype='object')

In [6]:
df.dtypes

irst Name          object
Last name          object
Age                object
SALARY             object
STREET Address1    object
STREET Address2    object
STREET Address3    object
email              object
dtype: object

In [7]:
df.isnull().sum()

irst Name          0
Last name          0
Age                0
SALARY             0
STREET Address1    0
STREET Address2    0
STREET Address3    0
email              0
dtype: int64

In [8]:
df.describe()

,irst Name,Last name,Age,SALARY,STREET Address1,STREET Address2,STREET Address3,email
count,100,100,100,100,100,100,100,100
unique,91,97,91,100,100,100,100,100
top,Fritz,Pratt,09/27/2019,$92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com
freq,2,2,2,1,1,1,1,1

In [9]:
df.duplicated().sum()

np.int64(0)

#DATA CLEANING

SECTION A: COLUMN NAME CLEANING

In [12]:
# Identify column names containing leading/trailing spaces
df.columns

Index(['irst name', 'last name', 'age', 'salary', 'street address1',
       'street address2', 'street address3', 'email'],
      dtype='object')

In [13]:
#Detect inconsistent capitalization in column headers.
df.columns = df.columns.str.strip().str.lower()
df.columns

Index(['irst name', 'last name', 'age', 'salary', 'street address1',
       'street address2', 'street address3', 'email'],
      dtype='object')

In [14]:
#Convert all column names to snake_case format.
df.columns = df.columns.str.replace(' ','_')
df.columns

Index(['irst_name', 'last_name', 'age', 'salary', 'street_address1',
       'street_address2', 'street_address3', 'email'],
      dtype='object')

In [15]:
#Rename ‘irst Name’ to ‘First Name’.
df = df.rename(columns={'irst_name':'first_name'})
df.columns

Index(['first_name', 'last_name', 'age', 'salary', 'street_address1',
       'street_address2', 'street_address3', 'email'],
      dtype='object')

 SECTION B: DATA TYPE VALIDATION

In [16]:
#Print data types of all columns
df.dtypes

first_name         object
last_name          object
age                object
salary             object
street_address1    object
street_address2    object
street_address3    object
email              object
dtype: object

In [17]:
#removing $ in salary
df['salary'] = df['salary'].str.replace('$','')
df['salary']

0     92.32
1     83.91
2     17.15
3     45.97
4     84.38
      ...
95    54.56
96    74.52
97    43.99
98    96.24
99     2.66
Name: salary, Length: 100, dtype: object

In [19]:
#Identify columns incorrectly typed as object but should be numeric or datetime
df['salary']=df['salary'].astype(float)
df['salary'].dtypes

dtype('float64')

In [21]:
# Convert the ‘Age’ column to datetime
df['age'] = df['age'].astype('datetime64[ns]')
df['age'].dtypes

dtype('<M8[ns]')

In [26]:
#Assuming ‘Age’ represents date of birth, compute age_years
df['age_years'] = (pd.to_datetime('today') - df['age']).dt.days / 365
df['age_years'] = df['age_years'].astype(int)
df['age_years']

0     6
1     6
2     7
3     6
4     6
     ..
95    6
96    6
97    6
98    7
99    6
Name: age_years, Length: 100, dtype: int64

In [27]:
from datetime import date

def calculate_age(born):
    today = date.today()
    # Subtract birth year from current year, then adjust if birthday hasn't passed
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [28]:
df['age_years'] = df['age'].apply(calculate_age)
df['age_years']

0     6
1     6
2     6
3     6
4     6
     ..
95    6
96    6
97    6
98    7
99    6
Name: age_years, Length: 100, dtype: int64

In [31]:
#Identify invalid date entries and handle them.
#print the value from the column age if the month is more than 12 or les than 0
df[df['age'].dt.month > 12]

Empty DataFrame
Columns: [first_name, last_name, age, salary, street_address1, street_address2, street_address3, email, age_years]
Index: []

In [32]:
df[df['age'].dt.month < 0]

Empty DataFrame
Columns: [first_name, last_name, age, salary, street_address1, street_address2, street_address3, email, age_years]
Index: []

In [37]:
#print the value from the column age if the day is more than 31 or less than 0 and more than 28 if month is 2
df[(df['age'].dt.day > 28) & (df['age'].dt.month == 2)]

Empty DataFrame
Columns: [first_name, last_name, age, salary, street_address1, street_address2, street_address3, email, age_years]
Index: []

In [36]:
df[(df['age'].dt.day > 31) | (df['age'].dt.day < 1)]

Empty DataFrame
Columns: [first_name, last_name, age, salary, street_address1, street_address2, street_address3, email, age_years]
Index: []

 SECTION C: SALARY CLEANING

In [38]:
#Convert ‘SALARY’ from currency strings (e.g., $92.32) to float
df['salary'] = df['salary'].astype(float)
df['salary']

0     92.32
1     83.91
2     17.15
3     45.97
4     84.38
      ...
95    54.56
96    74.52
97    43.99
98    96.24
99     2.66
Name: salary, Length: 100, dtype: float64

In [42]:
#Detect missing or malformed salary values
df['salary'].isnull().sum()

np.int64(0)

In [41]:
# Compute minimum, maximum, and average salary after cleaning.
df['salary'].min()

0.22

In [43]:
df['salary'].max()

99.18

In [45]:
df['salary'].mean()

np.float64(49.3699)

In [46]:
#Flag salaries equal to zero or negative.
df[df['salary'] <= 0]

Empty DataFrame
Columns: [first_name, last_name, age, salary, street_address1, street_address2, street_address3, email, age_years]
Index: []

SECTION D: NAME CLEANING