<a href="https://colab.research.google.com/github/Sru-j/daily_lab_activities/blob/main/health_data_url.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/bkeerthana/MLC/refs/heads/main/messy_employee_health.csv"
df = pd.read_csv(url)

In [3]:
df

,ID,Full Name,Age,GENDER,Heart Rate,Height,Address,Join Date,Notes,Constant Column,Irrelevant Column,Empty Column
0,1.0,Anu,22.0,Female,72 bpm,170 cm,"12 MG Road, Bengaluru, 560001",2024-01-05,good,SAME,x1,NaN
1,2.0,Rahul,NaN,MALE,85bpm,1.75 m,"45 Park St, Kolkata, 700016",05/02/2024,naïve café,SAME,x2,NaN
2,3.0,Meera,29.0,female,NaN,175 cm,"77 Anna Salai, Chennai, 600002",2024/03/10,NaN,SAME,x3,NaN
3,4.0,Sidd,-5.0,Male,90 bpm,180cm,"1 Marine Dr, Mumbai, 400001","March 15, 2024",?,SAME,x4,NaN
4,5.0,Priya,31.0,FEMALE,100 BPM,1.60 m,"No. 9, Residency Rd, Bengaluru, 560025",2024-13-01,NaN,SAME,x5,NaN
5,6.0,Kiran,120.0,male,??,160 cm,"Somewhere, , 560002",2024-06-01,unknown,SAME,x6,NaN
6,7.0,Anu,22.0,Female,72 bpm,170 cm,"12 MG Road, Bengaluru, 560001",2024-01-05,good,SAME,x1,NaN
7,8.0,Zara,27.0,FeMale,65 bpm,NaN,"8 Lake View, Hyderabad, 500001",2024-07-04,—,SAME,x7,NaN
8,9.0,NaN,24.0,male,75 bpm,175 cm,"15 Church St, Bengaluru, 560001",NaN,ok,SAME,x8,NaN
9,10.0,Vijay,28.0,Mle,80 bpm,170 cm,"18 North St, Delhi, 110001",2024-09-01,ok,SAME,x9,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['  ID ', 'Full Name', 'Age ', 'GENDER', 'Heart Rate', 'Height',
       'Address', 'Join Date', 'Notes', 'Constant Column', 'Irrelevant Column',
       'Empty Column'],
      dtype='object')

In [5]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.dtypes

  ID                 float64
Full Name             object
Age                  float64
GENDER                object
Heart Rate            object
Height                object
Address               object
Join Date             object
Notes                 object
Constant Column       object
Irrelevant Column     object
Empty Column         float64
dtype: object

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0     ID               10 non-null     float64
 1   Full Name          9 non-null      object
 2   Age                9 non-null      float64
 3   GENDER             10 non-null     object
 4   Heart Rate         9 non-null      object
 5   Height             9 non-null      object
 6   Address            10 non-null     object
 7   Join Date          9 non-null      object
 8   Notes              8 non-null      object
 9   Constant Column    10 non-null     object
 10  Irrelevant Column  10 non-null     object
 11  Empty Column       0 non-null      float64
dtypes: float64(3), object(9)
memory usage: 1.2+ KB

In [13]:
df.describe()

            ID         Age   Empty Column
count  10.00000    9.000000           0.0
mean    5.50000   33.111111           NaN
std     3.02765   34.309053           NaN
min     1.00000   -5.000000           NaN
25%     3.25000   22.000000           NaN
50%     5.50000   27.000000           NaN
75%     7.75000   29.000000           NaN
max    10.00000  120.000000           NaN

In [15]:
df.isnull().sum()

  ID                  1
Full Name             2
Age                   2
GENDER                1
Heart Rate            2
Height                2
Address               1
Join Date             2
Notes                 3
Constant Column       1
Irrelevant Column     1
Empty Column         11
dtype: int64

In [17]:
df.shape

(11, 12)

In [19]:
df.size

132

In [20]:
df.shape[0]

11

In [21]:
import re

def has_special_chars(input_string):
    """
    Checks if the input_string contains any character that is NOT
    a letter (a-z, A-Z) or a number (0-9).
    """
    # The pattern matches any character *not* in the specified range
    special_char_pattern = re.compile(r'[^a-zA-Z0-9]')

    # search() returns a match object if a match is found, otherwise None
    if special_char_pattern.search(input_string):
        return True
    else:
        return False

In [29]:
df.sample()

,ID,Full Name,Age,GENDER,Heart Rate,Height,Address,Join Date,Notes,Constant Column,Irrelevant Column,Empty Column,has_special_char
3,4.0,Sidd,-5.0,Male,90 bpm,180cm,"1 Marine Dr, Mumbai, 400001","March 15, 2024",?,SAME,x4,NaN,False

In [39]:
columns_to_check = df.columns
has_special = df[columns_to_check].astype(str).apply(
    lambda x: x.str.contains(r'[^a-zA-Z0-9]', regex=True)
)

df['has_special_char'] = has_special.any(axis=1)
df['has_special_char']

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10    False
Name: has_special_char, dtype: bool