# Inspecting the dataframe

In [2]:
# Task:1
# import the package pandas

In [5]:
import pandas as pd

In [4]:
# Task:2
# read the file directly from the url
# Load the data from the from the git link bkeerthana/pandas/auth_logs.csv
url=
df = pd.read_csv(url)
# Hint : path of the raw file

SyntaxError: invalid syntax (ipython-input-1933179505.py, line 4)

In [ ]:
# Task:
# To check df is empty or not

In [ ]:
#To check the dimension

In [ ]:
# Task:3
# find the datastructure of df

In [ ]:
# Task:4
# check the dataframe

Inspecting dataframe

In [ ]:
# Task:5
# Find the size

In [ ]:
# Task:6
# Find the total number of rows and columns

In [ ]:
# Task:7
# Find the number of records

In [ ]:
# Task:8
# Find the total number of features / columns

In [ ]:
#Task:9
# find the summary of the dataframe ie. column name + data type + non-null count

In [ ]:
#Task:10
#Find summary statistics

In [ ]:
df.describe(include='object')

In [ ]:
df.describe(include='all')

In [ ]:
df.describe(percentiles=[0.05,0.75,0.95])

In [ ]:
#Task:11
# find the datatypes

In [ ]:
#Task:12
#check is the any null values

In [ ]:
# Task:13
# Check not null values

In [ ]:
# Task:14
# Count missing values

In [ ]:
# Task:15
# Find the first 5 records

In [ ]:
# Task:16
# Find the first 10 records

In [ ]:
# Task:17
# Find the last 15 records

In [ ]:
# Task:18
# Extract 15th record

In [ ]:
# Task:19
# Extract 10th record to 15th record

In [ ]:
# Task:20
# randomly select one record

In [ ]:
# Task:21
# pick randomly 10 records

In [ ]:
# Task:22
# Extract the column 'country'

In [ ]:
# Task:23
# swaps the rows and columns
# Note: it is used when we have more features

In [ ]:
# Task:24
# list all the column name

In [ ]:
df.dtypes

Pandas Datatypes
    - Numeric
          - int
          - float

    - String
       - fixed values
          - category
       - not fixed values
          - object

    - Boolean
        - bool

    - Datetime
          - datetime
          - timedelta

In [ ]:
# Task:25
# List all the column name with the datype int

In [ ]:
# List all the column name with string/ object datatype

In [ ]:
df.columns

In [ ]:
# Task:26
# convert 'timestamp' to datetime
# Method 1:

#pd.to_datetime('timestamp') # it throws error need to specify minutes too

df["timestamp"] = pd.to_datetime(df["timestamp"], format="%d-%m-%Y %H:%M", errors="coerce")

#errors="coerce" tells Pandas:
#If a value cannot be converted, do not raise an error; instead, convert it to a missing value.
#For datetime conversion, that missing value is NaT (Not-a-Time).

# Method 2:
#df['timestamp']=df['timestamp'].astype('datetime64[ns]')

In [ ]:
df.dtypes

In [ ]:
df

In [ ]:
#Task:27
# Convert account_lock to boolean

In [ ]:
df.dtypes

In [ ]:
# Task:28
# find the unique values present in the 'mfa_result'

In [ ]:
# Task:29
# Find the number of unique values

In [ ]:
# convert country to category datatype

In [ ]:
# convert login_status to category

In [ ]:
# convert role to category

In [ ]:
# conver auth_method to category

In [ ]:
# mfa_result to category

In [ ]:
# Task:30
# List all the integer features

In [ ]:
# List all the int and bool

In [ ]:
# List all the values other than category

In [ ]:
# Task:31
# get all the country values

In [ ]:
# Task:32
# find the value counts for each country

In [ ]:
# Task:33
# find the index

Summarizing data

      The describe() function computes the summary statistics of the numerical columns in the dataframe.

      This function gives the mean, std and IQR values. It excludes the character columns and gives summary about numeric columns. It includes the argument which is used to pass necessary information regarding what columns need to be considered for summarizing. It takes the list of values; by default, 'number'.

      object − Summarizes string columns

      number − Summarizes numeric columns

      all − Summarizes all columns together

In [ ]:
df.describe(include='all').T

In [ ]:
df.describe(include='object')

In [ ]:
df.dtypes

In [ ]:
df.nunique()

In [ ]:
df['country'].unique()

In [ ]:
df['country'].value_counts()