# Inspecting the dataframe

In [2]:
# Task:1
# import the package pandas

In [5]:
import pandas as pd

In [7]:
# Task:2
# read the file directly from the url
# Load the data from the from the git link bkeerthana/pandas/auth_logs.csv
url= 'https://raw.githubusercontent.com/bkeerthana/pandas/refs/heads/main/auth_logs.csv'
df = pd.read_csv(url)
# Hint : path of the raw file

In [8]:
# Task:
# To check df is empty or not
df.empty

False

In [32]:
#To check the dimension
df.ndim

2

In [36]:
# Task:3
# find the datastructure of df
type(df)

pandas.core.frame.DataFrame

In [41]:
# Task:4
# check the dataframe
df.head(10)

,timestamp,username,ip_address,country,login_status,role,auth_method,user_agent,device_id,endpoint,failure_reason,mfa_result,account_lock,risk_score
0,01-01-2026 00:02,diana,45.33.12.19,India,FAILED,user,Password,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,IOS-51167c3fd0-7190,/login,INVALID_PASSWORD,NOT_REQUIRED,NO,65
1,01-01-2026 00:04,diana,185.10.20.77,UAE,SUCCESS,user,Password,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,SRV-0fa80fc572-2250,/login,NaN,NOT_REQUIRED,NO,41
2,01-01-2026 00:07,alice,10.0.0.193,Internal,SUCCESS,user,Password+OTP,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,WIN-5de018d9da-5285,/login,NaN,PASSED,NO,21
3,01-01-2026 00:16,trent,192.168.1.188,Internal,SUCCESS,user,Password,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,AND-ab967bc7cf-8679,/login,NaN,NOT_REQUIRED,NO,11
4,01-01-2026 00:20,charlie,45.33.12.206,India,SUCCESS,user,OTP,curl/8.4.0,LIN-4f51b60675-4962,/admin/login,NaN,PASSED,NO,37
5,01-01-2026 00:20,eve,10.0.0.227,Internal,SUCCESS,user,Password,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,SRV-a334898bc6-6337,/login,NaN,NOT_REQUIRED,NO,20
6,01-01-2026 00:22,trent,10.0.0.176,Internal,SUCCESS,user,OTP,Mozilla/5.0 (iPhone; CPU iPhone OS 17_2 like M...,WIN-5920e96f7d-6904,/login,NaN,PASSED,NO,11
7,01-01-2026 00:23,oscar,192.168.1.211,Internal,SUCCESS,user,OTP,Mozilla/5.0 (Linux; Android 14; Pixel 7) Apple...,SRV-2e4a5b0656-5328,/login,NaN,PASSED,NO,12
8,01-01-2026 00:24,eve,45.33.12.207,India,SUCCESS,user,OTP,Mozilla/5.0 (iPhone; CPU iPhone OS 17_2 like M...,AND-a16e8fd71b-8050,/login,NaN,PASSED,NO,28
9,01-01-2026 00:25,trent,10.0.0.233,Internal,SUCCESS,user,Password,Mozilla/5.0 (iPhone; CPU iPhone OS 17_2 like M...,IOS-5920e96f7d-9996,/admin/login,NaN,NOT_REQUIRED,NO,15

In [44]:
df.tail(2)

,timestamp,username,ip_address,country,login_status,role,auth_method,user_agent,device_id,endpoint,failure_reason,mfa_result,account_lock,risk_score
4998,15-01-2026 23:52,unknown,10.0.0.5,Internal,FAILED,unknown,Password+OTP,curl/8.4.0,AND-8e47e7b22f-6971,/login,UNKNOWN_USER,NOT_REQUIRED,NO,77
4999,15-01-2026 23:58,walter,192.168.1.9,Internal,SUCCESS,admin,Password+OTP,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,SRV-87a6fcd29c-8685,/login,NaN,PASSED,NO,22

In [17]:
# Task:5
# Find the size
df.size

70000

In [18]:
# Task:6
# Find the total number of rows and columns
df.shape

(5000, 14)

In [42]:
# Task:7
# Find the number of records
df.shape[0]

5000

In [45]:
len(df)

5000

In [20]:
# Task:8
# Find the total number of features / columns
df.shape[1]

14

In [21]:
#Task:9
# find the summary of the dataframe ie. column name + data type + non-null count
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       5000 non-null   object
 1   username        5000 non-null   object
 2   ip_address      5000 non-null   object
 3   country         5000 non-null   object
 4   login_status    5000 non-null   object
 5   role            5000 non-null   object
 6   auth_method     5000 non-null   object
 7   user_agent      5000 non-null   object
 8   device_id       5000 non-null   object
 9   endpoint        5000 non-null   object
 10  failure_reason  1571 non-null   object
 11  mfa_result      5000 non-null   object
 12  account_lock    5000 non-null   object
 13  risk_score      5000 non-null   int64
dtypes: int64(1), object(13)
memory usage: 547.0+ KB

In [48]:
df.columns

Index(['timestamp', 'username', 'ip_address', 'country', 'login_status',
       'role', 'auth_method', 'user_agent', 'device_id', 'endpoint',
       'failure_reason', 'mfa_result', 'account_lock', 'risk_score'],
      dtype='object')

Descibe information

      The describe() function computes the summary statistics of the numerical columns in the dataframe.

      This function gives the mean, std and IQR values. It excludes the character columns and gives summary about numeric columns. It includes the argument which is used to pass necessary information regarding what columns need to be considered for summarizing. It takes the list of values; by default, 'number'.

      object  Summarizes string columns

      number  Summarizes numeric columns

      all  Summarizes all columns together

In [49]:
#Task:10
#Find summary statistics
df.describe()
# default it is for integer

        risk_score
count  5000.000000
mean     38.907000
std      28.482672
min       0.000000
25%      16.000000
50%      28.000000
75%      66.000000
max     100.000000

In [51]:
df.describe(include='number')

        risk_score
count  5000.000000
mean     38.907000
std      28.482672
min       0.000000
25%      16.000000
50%      28.000000
75%      66.000000
max     100.000000

In [50]:
df.describe(include='object')

,timestamp,username,ip_address,country,login_status,role,auth_method,user_agent,device_id,endpoint,failure_reason,mfa_result,account_lock
count,5000,5000,5000,5000,5000,5000,5000,5000,5000,5000,1571,5000,5000
unique,3604,12,1361,6,2,3,3,7,4997,6,8,4,2
top,09-01-2026 20:37,mallory,10.0.0.17,Internal,SUCCESS,user,Password,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,LIN-ea6cd4fc8b-4683,/login,INVALID_PASSWORD,NOT_REQUIRED,NO
freq,30,477,16,3003,3429,4535,3465,964,2,2747,1242,3406,4968

In [24]:
df.describe(include='all')

,timestamp,username,ip_address,country,login_status,role,auth_method,user_agent,device_id,endpoint,failure_reason,mfa_result,account_lock,risk_score
count,5000,5000,5000,5000,5000,5000,5000,5000,5000,5000,1571,5000,5000,5000.000000
unique,3604,12,1361,6,2,3,3,7,4997,6,8,4,2,NaN
top,09-01-2026 20:37,mallory,10.0.0.17,Internal,SUCCESS,user,Password,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,LIN-ea6cd4fc8b-4683,/login,INVALID_PASSWORD,NOT_REQUIRED,NO,NaN
freq,30,477,16,3003,3429,4535,3465,964,2,2747,1242,3406,4968,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.907000
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.482672
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000000

In [26]:
df.describe(percentiles=[0.05,0.75,0.85,0.95])

        risk_score
count  5000.000000
mean     38.907000
std      28.482672
min       0.000000
5%        6.000000
50%      28.000000
75%      66.000000
85%      79.000000
95%      90.000000
max     100.000000

In [30]:
#Task:11
# find the datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       5000 non-null   object
 1   username        5000 non-null   object
 2   ip_address      5000 non-null   object
 3   country         5000 non-null   object
 4   login_status    5000 non-null   object
 5   role            5000 non-null   object
 6   auth_method     5000 non-null   object
 7   user_agent      5000 non-null   object
 8   device_id       5000 non-null   object
 9   endpoint        5000 non-null   object
 10  failure_reason  1571 non-null   object
 11  mfa_result      5000 non-null   object
 12  account_lock    5000 non-null   object
 13  risk_score      5000 non-null   int64
dtypes: int64(1), object(13)
memory usage: 547.0+ KB

In [ ]:
#Task:12
#check is the any null values

In [ ]:
# Task:13
# Check not null values

In [ ]:
# Task:14
# Count missing values

In [ ]:
# Task:15
# Find the first 5 records

In [ ]:
# Task:16
# Find the first 10 records

In [ ]:
# Task:17
# Find the last 15 records

In [ ]:
# Task:18
# Extract 15th record

In [ ]:
# Task:19
# Extract 10th record to 15th record

In [ ]:
# Task:20
# randomly select one record

In [ ]:
# Task:21
# pick randomly 10 records

In [ ]:
# Task:22
# Extract the column 'country'

In [ ]:
# Task:23
# swaps the rows and columns
# Note: it is used when we have more features

In [ ]:
# Task:24
# list all the column name

In [ ]:
df.dtypes

Pandas Datatypes
    - Numeric
          - int
          - float

    - String
       - fixed values
          - category
       - not fixed values
          - object

    - Boolean
        - bool

    - Datetime
          - datetime
          - timedelta

In [ ]:
# Task:25
# List all the column name with the datype int

In [ ]:
# List all the column name with string/ object datatype

In [ ]:
df.columns

In [ ]:
# Task:26
# convert 'timestamp' to datetime
# Method 1:

#pd.to_datetime('timestamp') # it throws error need to specify minutes too

df["timestamp"] = pd.to_datetime(df["timestamp"], format="%d-%m-%Y %H:%M", errors="coerce")

#errors="coerce" tells Pandas:
#If a value cannot be converted, do not raise an error; instead, convert it to a missing value.
#For datetime conversion, that missing value is NaT (Not-a-Time).

# Method 2:
#df['timestamp']=df['timestamp'].astype('datetime64[ns]')

In [ ]:
df.dtypes

In [ ]:
df

In [ ]:
#Task:27
# Convert account_lock to boolean

In [ ]:
df.dtypes

In [ ]:
# Task:28
# find the unique values present in the 'mfa_result'

In [ ]:
# Task:29
# Find the number of unique values

In [ ]:
# convert country to category datatype

In [ ]:
# convert login_status to category

In [ ]:
# convert role to category

In [ ]:
# conver auth_method to category

In [ ]:
# mfa_result to category

In [ ]:
# Task:30
# List all the integer features

In [ ]:
# List all the int and bool

In [ ]:
# List all the values other than category

In [ ]:
# Task:31
# get all the country values

In [ ]:
# Task:32
# find the value counts for each country

In [ ]:
# Task:33
# find the index

In [ ]:
df.describe(include='all').T

In [ ]:
df.describe(include='object')

In [ ]:
df.dtypes

In [ ]:
df.nunique()

In [ ]:
df['country'].unique()

In [ ]:
df['country'].value_counts()