
Recap:

     Machine learning for cybersecurity
     Applications of Machine learning
     Cyber
     Security
     Cybersecurity
     Application of Machine learning in cyberecurity


     Data
     Question
     Information
     Interpretation
     Knowledge
     Decision


     Types of Data Analytics
     Describe
     Diagnostic
     Prescriptive
     predictive

   
     Life cycle of Data Analytics
     Context
     problem
     collect data
     clean
     EDA
     Model
     Visualize
     Decision


     Types of Data
       Structure
       Unstructure
       Semi-Structure
       Loading files

     Based on values
        Qualitiative
          Nominal
          Ordinal
        Quantitative
          Discrete
          Continuous

Content:
       More on Values
       Sources of data

Values
   
     Importance of Value

     Analysis

     Operation
        arithmetic
        aggregation
        comparison
        filtering
        transformation
        statistical analysis
        grouping
        temporal analysis
        logical evaluation
        ranking
        pattern detection to convert raw values into actionable insights.

Activity :1


    Differnt anlaysis on the data

Activity:2  Valid or invalid

| Feature      | Operation | Valid? |
| ------------ | --------- | ------ |
| Protocol     | Average   | No     |
| Severity     | Rank      | Yes       |
| Packet count | Mean      |  Yes      |
| Attack type  | Frequency |  No      |

Activity :3 - What are the different operations that can be performed on the given dataset? or any other dataset

| User_ID | Platform  | Messages_Sent | Abusive_Messages | Reports_Received | Avg_Message_Length | Time_Online_Min |
| ------- | --------- | ------------- | ---------------- | ---------------- | ------------------ | --------------- |
| U01     | Instagram | 45            | 2                | 1                | 18                 | 120             |
| U02     | WhatsApp  | 80            | 0                | 0                | 22                 | 95              |
| U03     | Instagram | 150           | 18               | 7                | 12                 | 210             |
| U04     | Discord   | 60            | 5                | 2                | 30                 | 160             |
| U05     | WhatsApp  | 200           | 25               | 12               | 10                 | 300             |
| U06     | Instagram | 35            | 0                | 0                | 28                 | 80              |
| U07     | Discord   | 120           | 9                | 4                | 15                 | 190             |
| U08     | Instagram | 90            | 3                | 1                | 26                 | 140             |

Activity: 4 Inspecting the dataset

In [1]:
#load the data (.csv file)
from google.colab import drive
drive.mount('/content/drive')

DIR = '/content/drive/My Drive/Colab Notebooks/data'
datafile ='auth_logs.csv'
filename = DIR+'/'+datafile

Mounted at /content/drive

In [2]:
#converting data into data frames
import pandas as pd
df = pd.read_csv(filename)
df

               timestamp username          ip   status   role    country
0    2026-01-05 09:00:10   walter  10.0.0.104  SUCCESS  admin    Germany
1    2026-01-05 09:00:31   victor  10.0.0.128  SUCCESS   user        USA
2    2026-01-05 09:01:00  charlie  10.0.0.162  SUCCESS   user        USA
3    2026-01-05 09:01:34    trent   10.0.0.99  SUCCESS   user        UAE
4    2026-01-05 09:02:03   victor  10.0.0.222   FAILED   user        USA
..                   ...      ...         ...      ...    ...        ...
115  2026-01-05 09:57:38   walter  10.0.0.208   FAILED   user  Australia
116  2026-01-05 09:58:08    trent  10.0.0.213   FAILED   user  Singapore
117  2026-01-05 09:58:34      bob   10.0.0.73   FAILED   user  Australia
118  2026-01-05 09:59:09   walter  10.0.0.158  SUCCESS   user  Australia
119  2026-01-05 09:59:36  mallory   10.0.0.48  SUCCESS   user        UAE

[120 rows x 6 columns]

In [6]:
# find the size of the dataset
df.shape

(120, 6)

In [12]:
# find the number of rows
df.shape[0]

120

In [14]:
# find the number of columns
df.shape[1]

6

In [15]:
# find the columns or features in the dataset
df.columns

Index(['timestamp', 'username', 'ip', 'status', 'role', 'country'], dtype='object')

In [17]:
# find the summary of the dataset
df.describe()

                  timestamp username          ip   status  role country
count                   120      120         120      120   120     120
unique                  120       12          92        2     2       8
top     2026-01-05 09:00:10    alice  10.0.0.223  SUCCESS  user     USA
freq                      1       13           4       88   100      22

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  120 non-null    object
 1   username   120 non-null    object
 2   ip         120 non-null    object
 3   status     120 non-null    object
 4   role       120 non-null    object
 5   country    120 non-null    object
dtypes: object(6)
memory usage: 5.8+ KB

In [18]:
 # find the datatypes of the features
df.dtypes

timestamp    object
username     object
ip           object
status       object
role         object
country      object
dtype: object

In [35]:
# Extract only first column
df['country']

0        Germany
1            USA
2            USA
3            UAE
4            USA
         ...
115    Australia
116    Singapore
117    Australia
118    Australia
119          UAE
Name: country, Length: 120, dtype: object

In [33]:
#Extrac n rows and m columns
df.iloc[0:100,0:2]

              timestamp username
0   2026-01-05 09:00:10   walter
1   2026-01-05 09:00:31   victor
2   2026-01-05 09:01:00  charlie
3   2026-01-05 09:01:34    trent
4   2026-01-05 09:02:03   victor
..                  ...      ...
95  2026-01-05 09:47:30    peggy
96  2026-01-05 09:48:03  mallory
97  2026-01-05 09:48:30    peggy
98  2026-01-05 09:49:05    trent
99  2026-01-05 09:49:36  charlie

[100 rows x 2 columns]

In [37]:
#extract only first row values
df.iloc[0:1,]

             timestamp username          ip   status   role  country
0  2026-01-05 09:00:10   walter  10.0.0.104  SUCCESS  admin  Germany

In [38]:
from numpy import astype
# convert from one data type to another
astype(df['country'],str)

TypeError: Input should be a NumPy array. It is a <class 'pandas.core.series.Series'> instead.

Sources of data