# Pandas DataFrame â€“ Exercise

## 0. Setup

In [1]:
# import pandas
# import numpy as np

import pandas as pd
import numpy as np

## 1. Create the dataset

 create DataFrames

           using list

           using dictionary

- `df_students`: student_id, name, program, marks
- `df_scores`: student_id, attendance, internal_marks

### Q1. Create a DataFrame using a list of lists
Create `df_students` from a list-of-lists and set columns: `student_id`, `name`, `program`, `marks`.

In [2]:
course = ['vlsi' , 'cys']
type(course)

list

In [5]:
df = pd.DataFrame(course, columns=['courses'])
df

  courses
0    vlsi
1     cys

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.columns = ['course']
df

  course
0   vlsi
1    cys

In [8]:
# Create df_students using a list of lists
students = [
    [101, "Anu", "Cybersecurity", 85],
    [102, "Ravi", "Cybersecurity", 72],
    [103, "Meera", "Data Science", 91],
    [104, "Kiran", "Cybersecurity", 66],
    [105, "Sana", "AI", 78],
    [106, "Divya", "Data Science", 59],
]

In [9]:
# find the type of students
type(students)

list

In [10]:
# convert the list in to dataframe
df = pd.DataFrame(students)

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
# print the dataframe
df

     0      1              2   3
0  101    Anu  Cybersecurity  85
1  102   Ravi  Cybersecurity  72
2  103  Meera   Data Science  91
3  104  Kiran  Cybersecurity  66
4  105   Sana             AI  78
5  106  Divya   Data Science  59

In [13]:
# add the column names to the dataframe
df.columns = ["student_id", "name", "program", "marks"]
df

   student_id   name        program  marks
0         101    Anu  Cybersecurity     85
1         102   Ravi  Cybersecurity     72
2         103  Meera   Data Science     91
3         104  Kiran  Cybersecurity     66
4         105   Sana             AI     78
5         106  Divya   Data Science     59

In [14]:
# List the column names
df.columns

Index(['student_id', 'name', 'program', 'marks'], dtype='object')

### Q2. Create a DataFrame using a dictionary
Create `df_scores` from a dictionary with columns: `student_id`, `attendance`, `internal_marks`.

In [15]:
# Create df_scores using a dictionary
data = {
    "student_id": [101, 102, 103, 104, 105, 106],
    "attendance": [92, 85, 98, 70, 88, 76],
    "internal_marks": [40, 35, 45, 30, 38, 28],
}

In [16]:
# find the datatype of "data"
type(data)

dict

In [17]:
# convert the dictionary into dataframe and store as df_scores
df_scores = pd.DataFrame(data)

In [18]:
# check the datatype
type(df_scores)

pandas.core.frame.DataFrame

In [19]:
# print the dataframe
df_scores

   student_id  attendance  internal_marks
0         101          92              40
1         102          85              35
2         103          98              45
3         104          70              30
4         105          88              38
5         106          76              28

### (Optional) Create a single working DataFrame
Merge `df_students` and `df_scores` on `student_id` to form `df`.

In [20]:
# TODO: Merge into one DataFrame for convenience
df = pd.merge(df, df_scores, on="student_id")
df

   student_id   name        program  marks  attendance  internal_marks
0         101    Anu  Cybersecurity     85          92              40
1         102   Ravi  Cybersecurity     72          85              35
2         103  Meera   Data Science     91          98              45
3         104  Kiran  Cybersecurity     66          70              30
4         105   Sana             AI     78          88              38
5         106  Divya   Data Science     59          76              28

## 2. Data Inspection & Understanding Structure

In [35]:
df['marks'] >= 90

0    False
1    False
2     True
3    False
4    False
5    False
Name: marks, dtype: bool

In [34]:
df[df['marks'] >= 90]

   student_id   name       program  marks  attendance  internal_marks
2         103  Meera  Data Science     91          98              45

In [36]:
df.query('marks >= 90')

   student_id   name       program  marks  attendance  internal_marks
2         103  Meera  Data Science     91          98              45

In [38]:
df.where(df['marks'] >= 90)

   student_id   name       program  marks  attendance  internal_marks
0         NaN    NaN           NaN    NaN         NaN             NaN
1         NaN    NaN           NaN    NaN         NaN             NaN
2       103.0  Meera  Data Science   91.0        98.0            45.0
3         NaN    NaN           NaN    NaN         NaN             NaN
4         NaN    NaN           NaN    NaN         NaN             NaN
5         NaN    NaN           NaN    NaN         NaN             NaN

In [53]:
df.where(df['marks'] >= 90,  other= 'no')

  student_id   name       program marks attendance internal_marks
0         no     no            no    no         no             no
1         no     no            no    no         no             no
2        103  Meera  Data Science    91         98             45
3         no     no            no    no         no             no
4         no     no            no    no         no             no
5         no     no            no    no         no             no

### Q3. Basic Data Inspection or Structural Data Inspection

In [39]:
# Find the first 3 records
df.head(3)

   student_id   name        program  marks  attendance  internal_marks
0         101    Anu  Cybersecurity     85          92              40
1         102   Ravi  Cybersecurity     72          85              35
2         103  Meera   Data Science     91          98              45

In [40]:
# Find the last 3 records
df.tail(3)

   student_id   name        program  marks  attendance  internal_marks
3         104  Kiran  Cybersecurity     66          70              30
4         105   Sana             AI     78          88              38
5         106  Divya   Data Science     59          76              28

In [41]:
# Find the size of the dataframe
df.size

36

In [42]:
# Find the shape
df.shape

(6, 6)

In [43]:
# Find the number of records
df.shape[0]

6

In [44]:
# Find the number of columns
df.shape[1]

6

In [45]:
# Find the column names
df.columns

Index(['student_id', 'name', 'program', 'marks', 'attendance',
       'internal_marks'],
      dtype='object')

In [46]:
# Find the name of columns/ features
df.columns.tolist()

['student_id', 'name', 'program', 'marks', 'attendance', 'internal_marks']

In [47]:
# Find the index range
df.index

RangeIndex(start=0, stop=6, step=1)

In [48]:
# Check the datatype
df.dtypes

student_id         int64
name              object
program           object
marks              int64
attendance         int64
internal_marks     int64
dtype: object

### Q4. Missing Value Inspection
Check if the dataset contains missing values; identify columns and counts.

In [54]:
#  Missing value inspection using info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   student_id      6 non-null      int64
 1   name            6 non-null      object
 2   program         6 non-null      object
 3   marks           6 non-null      int64
 4   attendance      6 non-null      int64
 5   internal_marks  6 non-null      int64
dtypes: int64(4), object(2)
memory usage: 420.0+ bytes

In [55]:
#  Missing value inspection using isna()
df.isna()

   student_id   name  program  marks  attendance  internal_marks
0       False  False    False  False       False           False
1       False  False    False  False       False           False
2       False  False    False  False       False           False
3       False  False    False  False       False           False
4       False  False    False  False       False           False
5       False  False    False  False       False           False

In [56]:
# count how many null values
df.isna().sum()

student_id        0
name              0
program           0
marks             0
attendance        0
internal_marks    0
dtype: int64

In [49]:
#Explore

### Q5. Data Type Reasoning
Identify suitable dtypes (int/float/category). Convert applicable columns to category and explain why.

In [50]:
# Convert program to category


# Check the datatypes

## 3. Indexing & Slicing

### Q6. Column Indexing
Select: (1) single column, (2) multiple columns.

In [ ]:
# Extract the students name


# Extract the students name with their program details

### Q7. Row Indexing
Access a row using positional indexing, and a row using label-based indexing.

In [ ]:
# Extract the first row and second row
# use iloc


# use loc


# Extract student_id with 103

   student_id   name       program  marks
2         103  Meera  Data Science     91

### Q8. Index Manipulation

In [ ]:
# Set the row index to student_id


# check the dataframe

# reset the index to default


# check the dataframe

### Q9. Slicing Operations
Slice: (1) range of rows, (2) specific rows+columns, (3) last two records for one column.

In [ ]:
# slice range of row as per your choice
# using iloc

#using loc


# slice specific rows and columns


# Extract the last 5 marks

## 4. Boolean Logic & Conditional Selection

### Q10. Boolean Filtering

In [ ]:
#  marks above a threshold (as per your choice); filter by program.

### Q11. Comparison Operators
Use comparison operators to filter by marks and attendance.

In [ ]:
# extract the records where attendance is >=85 and the marks in the range 70 to 90.

### Q12. Logical Operations (AND / OR / NOT)
AND: multiple conditions; OR: either condition; NOT: exclude a category.

In [ ]:
#  using and or not frame the questions as per your choice

### Q13. isin() Operation

In [ ]:
# program in list; student_id in list.

## 5. Conditional Transformation

### Q14. Using where()
Replace marks below a threshold with a label or NaN; preserve original otherwise.

In [ ]:
# df["marks_masked"] = df["marks"].where(df["marks"] >= 70, other=np.nan)
# OR replace with a string (creates object dtype)
# df["marks_flag"] = df["marks"].where(df["marks"] >= 70, other="Needs Improvement")
# df[["marks", "marks_masked"]].head()

### Q15. Conditional Flag Column
Create `eligible_for_exam`: True if attendance â‰¥ 75 else False. Count eligible vs non-eligible.

In [ ]:
# df["eligible_for_exam"] = df["attendance"] >= 75
# df["eligible_for_exam"].value_counts()

In [ ]:
#Condition: Cybersecurity students with marks â‰¥ 75
df[(df["program"] == "Cybersecurity") & (df["marks"] >= 75)]
df.query('program == "Cybersecurity" and marks >= 75')
df.where((df["program"] == "Cybersecurity") & (df["marks"] >= 75))

Use Boolean indexing when:

you want maximum clarity/control

youâ€™re teaching fundamentals

conditions are complex and you want explicit brackets

Use query() when:

you want readable filtering like SQL

youâ€™re doing exploratory analysis

conditions are many and you prefer and/or/not

Use where() when:

you want to keep all rows but flag/mask invalid data

youâ€™re preparing data for cleaning

you need structural consistency (same index/shape)

## 6. Query-Based Filtering

### Q16. Using query()
Filter using query with multiple conditions; rewrite using boolean indexing; compare readability.

In [ ]:
# TODO:
# q1 = df.query('program == "Cybersecurity" and marks >= 75')
# q1
# bool1 = df[(df["program"] == "Cybersecurity") & (df["marks"] >= 75)]
# bool1

### Q17. Advanced query()
Filter: not belonging to a specific program, and marks within a given range.

In [ ]:
# TODO:
# df.query('program != "Data Science" and marks >= 70 and marks <= 90')

## 7. Sorting & Ranking

### Q18. Sorting Operations
Sort by marks ascending/descending; sort by multiple columns.

In [ ]:
# TODO:
# df.sort_values(by="marks", ascending=True)
# df.sort_values(by="marks", ascending=False)
# df.sort_values(by=["program", "marks"], ascending=[True, False])

## 8. Statistical Operations

### Q19. Basic Statistics
Compute mean, median, std, min, max for marks and attendance.

In [ ]:
# df[["marks", "attendance"]].mean()
# df[["marks", "attendance"]].median()
# df[["marks", "attendance"]].std()
# df[["marks", "attendance"]].min()
# df[["marks", "attendance"]].max()

### Q20. Cumulative & Quantile Operations
Compute cumsum of internal_marks; compute quartiles for marks.

In [ ]:
# TODO:
# df["internal_cumsum"] = df["internal_marks"].cumsum()
# df["marks"].quantile([0.25, 0.50, 0.75])

### Q21. Descriptive Summary
Generate describe() summary and interpret key values.

In [ ]:
# find the summary